<div id="addPricingMerchantModal" ng-controller="PricingController" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div id="newInvoice" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Add Pricing Merchant : {{customPricing.code}} - {{customPricing.name}}</h5>
			</div>
			<div class="modal-body">
				<form name="createPricingForm">
					<div class="row">
						<div class="col-md-12">
							<div class="row" ng-if="customPricing.active">
								<div class="col-md-4">
									<input class="form-control" ng-model="newPricingMerchant" placeholder="Merchant Id" type="number"/>
								</div>
								<div class="col-md-4">
									<button class="btn btn-info btn-sm" ng-click="addPricingMerchant(customPricing, newPricingMerchant)"><i class="fa fa-plus"></i></button>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12">
									<table class="table table-bordered table-responsive">
										<thead>
											<tr>
												<td>Id</td>
												<td>Name</td>
												<td>Email</td>
												<td>Mobile</td>
												<td>Actions</td>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="merchant in pricingMerchantList">
												<td>{{merchant.id}}</td>
												<td>{{merchant.name}}</td>
												<td>{{merchant.email}}</td>
												<td>{{merchant.mobile}}</td>
												<td>
													<button class="btn btn-danger btn-xs" ng-click="removePricingMerchant(customPricing,merchant.id)"><i class="fa fa-times"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>