<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>payCr Admin</title>
    <link rel="shortcut icon" href="/images/ico/favicon.png">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  	<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
    <link href="/vendor/angular/angular-material.min.css" rel="stylesheet">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular/angular-route.js"></script>
	<script src="/vendor/angular/angular-cookies.js"></script>
	<script src="/vendor/angular/angular-animate.min.js"></script>
  	<script src="/vendor/angular/angular-aria.min.js"></script>
  	<script src="/vendor/angular/angular-messages.min.js"></script>
  	<script src="/vendor/angular/angular-material.min.js"></script>
	<script src="/vendor/angular/angular-environment.js"></script>
	<script src="/angular/admin/admin-ctrl.js"></script>
	<script src="/angular/admin/dashboard-ctrl.js"></script>
	<script src="/angular/admin/merchant-ctrl.js"></script>
	<script src="/angular/admin/invoice-ctrl.js"></script>
	<script src="/angular/common/invoice-payment-ctrl.js"></script>
	<script src="/angular/admin/subscription-ctrl.js"></script>
	<script src="/angular/admin/pricing-ctrl.js"></script>
	<script src="/angular/common/reports-ctrl.js"></script>
	<script src="/angular/common/users-ctrl.js"></script>
	<script src="/angular/admin/admin-setting-ctrl.js"></script>
	<script src="/angular/admin/promotion-ctrl.js"></script>
	<script src="/angular/admin/contactUs-ctrl.js"></script>
	<script src="/angular/common/profile-ctrl.js"></script>
	<style> 
	.md-datepicker-calendar-pane{
		z-index: 1200
	}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="payCrAdminApp" ng-controller="AdminController" ng-cloak>
    <div ng-init="prepare()" class="wrapper">
        <div ng-include="templateUrl('admin','nav')"></div>
        <div class="tab-content bordered content-wrapper" id="content-wrapper">
    		<div ng-include="templateUrl('common','alert')"></div>
    		<div ng-if="user.access.supervisor" id="dashboardTab" class="tab-pane active" ng-include="templateUrl('admin','dashboardTab')"></div>
            <div ng-class="(user.access.supervisor)?'':'active'" id="merchantsTab" class="tab-pane" ng-include="templateUrl('admin','merchantTab')"></div>
        	<div id="salesTab" class="tab-pane" ng-include="templateUrl('admin','salesTab')"></div>
        	<div ng-if="user.access.finance" id="subscriptionTab" class="tab-pane fade" ng-include="templateUrl('admin','subscriptionTab')"></div>
        	<div ng-if="user.access.finance" id="pricingTab" class="tab-pane fade" ng-include="templateUrl('admin','pricingTab')"></div>
		    <div ng-if="user.access.ops" id="reportsTab" class="tab-pane fade" ng-include="templateUrl('common','reportsTab')"></div>
		    <div ng-if="user.access.supervisor" id="usersTab" class="tab-pane fade" ng-include="templateUrl('common','usersTab')"></div>
		    <div ng-if="user.access.supervisor" id="settingsTab" class="tab-pane fade" ng-include="templateUrl('admin','adminSettingTab')"></div>
		    <div ng-if="user.access.supervisor" id="promotionTab" class="tab-pane fade" ng-include="templateUrl('admin','promotionTab')"></div>
		    <div ng-if="user.access.advisor" id="contactUsTab" class="tab-pane fade" ng-include="templateUrl('admin','contactUsTab')"></div>
        	<div id="profileTab" class="tab-pane fade" ng-include="templateUrl('common','profileTab')"></div>
    	</div>
    	<div ng-include="templateUrl('common','footer')"></div>
	    <div ng-if="user.access.supervisor" ng-include="templateUrl('admin','createMerchantModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('admin','createPricingModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('admin','addPricingMerchantModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('admin','createOfflineSubsModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('common','createUserModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','createReportModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','recurrReportModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('admin','addTaxModal')"></div>
		<div ng-if="user.access.supervisor" ng-include="templateUrl('admin','createPromotionModal')"></div>
		<div ng-include="templateUrl('admin','subsDetailsModal')"></div>
		<div ng-include="templateUrl('common','changePasswordModal')"></div>
		<div ng-include="templateUrl('common','editProfileAddressModal')"></div>
		<div ng-include="templateUrl('admin','adminControl')"></div>
		<div ng-include="templateUrl('common','registerIssueModal')"></div>
	</div>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/moment.js"></script>
	<script src="/vendor/raphael/raphael.min.js"></script>
	<script src="/vendor/morrisjs/morris.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#content-wrapper").css("min-height", "600px");
		});
	</script>
</body>
</html>
