<div ng-controller="AdminSettingController">
	<div class="panel-body">
		<div class="col-md-4">
			<div class="box box-warning">
				<div class="box-header with-border">
					<div class="form-group">
						<div class="image-upload">
							<div class="col-xs-3">
							    <label for="file-input" title="Upload new Banner">
							        <img src="/banner/admin/{{adminSetting.banner}}" style="max-height:50px;max-width:50px;" alt="Banner (80x80)"/>
							    </label>
							    <input id="file-input" style="display:none;"type="file" onchange="angular.element(this).scope().uploadBanner(this.files)" accept=".png,.jpg"/>
						    </div>
						    <div class="col-xs-9">
						    	<small>(Banner will appear on your payment checkout screens)</small>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Payment Setting</h5>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-flat btn-xs btn-warning" ng-click="$parent.editAdminSets = !$parent.editAdminSets" title="Edit">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<fieldset ng-disabled="!editAdminSets">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="adminSetting.paymentSetting.rzpSecretId" />
						</div>
						<div class="form-group">
							<label class="control-label">GSTIN</label>
							<input class="form-control" ng-model="adminSetting.gstin" />
						</div>
					</fieldset>
				</div>
				<div ng-if="editAdminSets" class="box-footer">
		        	<div class="input-group">
		            	<span class="input-group-btn">
		                   	<button ng-click="saveAdminSetting(adminSetting)" class="btn btn-info">Save</button>
		               	</span>
		            </div>
		        </div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Address</h5>
					<div class="box-tools pull-right">
						<button data-toggle="modal" data-target="#editAddressModal" class="btn btn-flat btn-xs btn-warning" title="Edit Address">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<p ng-if="adminSetting.address != null">
						{{adminSetting.address.addressLine1}},<br>
						{{adminSetting.address.addressLine2}},<br>
						{{adminSetting.address.city}},<br>
						{{adminSetting.address.state}} - {{adminSetting.address.pincode}},<br>
						{{adminSetting.address.country}}
					</p>
				</div>
			</div>
			<div class="box box-success">
				<div class="box-header with-border">
					<h5 class="box-title">Tax Master</h5>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-flat btn-xs btn-success" data-toggle="modal" data-target="#addTaxModal" title="Add new">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<th>Id</th>
								<th>Tax Name</th>
								<th>Tax Value</th>
								<th>Child</th>
								<th>Parent</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="tax in taxList">
								<td>{{tax.id}}</td>
								<td>{{tax.name}}</td>
								<td>{{tax.value}}%</td>
								<td>{{tax.child}}</td>
								<td><div ng-if="tax.child">{{tax.parent.id}}. {{tax.parent.name}} {{tax.parent.value}}%</div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>