<div ng-controller="ContactUsController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Email</label>
									<input class="form-control" ng-model="searchContactUsReq.email" placeholder="Email" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Type</label>
									<input class="form-control" ng-model="searchContactUsReq.type" placeholder="Type" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox" ng-model="searchContactUsReq.resolved">&nbsp;<strong>Resolved</strong><br>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchPage(1)" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearContactUsSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Created</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody ng-repeat="contactUs in contactUsResp.contactUsList">
						<tr ng-class="(contactUs.resolved)?'success':'warning'" data-toggle="collapse" data-target="#cntdetails-{{contactUs.id}}" class="accordion-toggle">
							<td>{{contactUs.name}}</td>
							<td>{{contactUs.email}}</td>
							<td>{{contactUs.created | date:'dd-MM-yyyy HH:mm'}}</td>
							<td>{{contactUs.type}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding: 0px; border: 0px;">
								<div style="padding: 10px;" class="accordion-body collapse" id="cntdetails-{{contactUs.id}}">
									<div class="row">
										<div class="panel-body col-md-12">
											<div>
												<div ng-if="user.access.supervisor">
													<button ng-if="contactUs.resolved" title="Mark Unresolved"
														class="btn btn-flat btn-danger btn-sm"
														ng-click="toggleStatus(contactUs.id)">
														<i class="fa fa-times"></i>
													</button>
													<button ng-if="!contactUs.resolved" title="Mark Resolved"
														class="btn btn-flat btn-success btn-sm"
														ng-click="toggleStatus(contactUs.id)">
														<i class="fa fa-check"></i>
													</button>
												</div>
											</div>
											<br>
											<table class="table table-striped table-bordered table-responsive">
												<thead>
													<tr>
														<th>{{contactUs.subject}}</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{contactUs.message}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(contactUsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(contactUsResp.page <= 1) || searchPage(contactUsResp.page-1)" href="#">Previous</a></li>
					<li><a href="#">{{contactUsResp.page}}</a></li>
					<li class="paginate_button next"><a ng-click="searchPage(contactUsResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>