<div id="createOfflineSubsModal" ng-controller="MerchantController" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">New Offline Subscription : <span><strong>{{offSubsmerchant.name}}</strong></span></h5>
			</div>
			<div class="modal-body">
				<form name="createOfflineSubsForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.pricing.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Pricing</label>
												<select name="pricing" class="form-control" ng-model="offlinesubs.pricing" ng-change="calculateSubsAmount()" required>
													<option ng-repeat="pricing in pricings" ng-value="pricing">{{pricing.name}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.payMode.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Pay Mode</label>
												<select class="form-control" ng-model="offlinesubs.payMode" name="payMode" required>
													<option ng-repeat="payMode in payModes" ng-if="payMode != 'PAYCR'" value="{{payMode}}">{{payMode}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.method.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Payment Method</label>
												<input class="form-control" ng-model="offlinesubs.method" name="method" placeholder="Payment Method" ng-pattern="patterns.namePattern" required/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.paymentRefNo.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Payment Reference Number</label>
												<input class="form-control" ng-model="offlinesubs.paymentRefNo" name="paymentRefNo" placeholder="Payment Ref No" ng-pattern="patterns.namePattern" required/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createOfflineSubsForm.quantity.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Quantity</label>
												<input class="form-control" ng-model="offlinesubs.quantity" name="quantity" ng-init="offlinesubs.quantity = 1" ng-change="calculateSubsAmount()" type="number" placeholder="Quantity" ng-pattern="patterns.numberPattern" step="1" required/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Total</label>
												<input class="form-control" ng-model="offlinesubs.total" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Tax%</label>
												<input class="form-control" ng-value="offlinesubs.pricing.interstateTax.value" readonly/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Pay Amount</label>
												<input class="form-control" ng-model="offlinesubs.payAmount" readonly/>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createOfflineSubs(offSubsmerchant.id)">Create</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>