<div id="createPromotionModal" ng-controller="PromotionController" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div id="newPromotion" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create New Promotion</h5>
			</div>
			<div class="modal-body">
				<form name="createPromotionForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td colspan="12">
											<div ng-class="(createPromotionForm.name.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input class="form-control" ng-model="newpromotion.name" name="name" placeholder="Promotion Name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="12">
											<div ng-class="(createPromotionForm.email.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Email</label>
												<input class="form-control" ng-model="newpromotion.email" name="email" type="email" placeholder="Promotion Email" ng-pattern="patterns.emailPattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="12">
											<div ng-class="(createPromotionForm.phone.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Phone</label>
												<input class="form-control" ng-model="newpromotion.phone" name="phone" type="number" placeholder="Promotion Phone" ng-pattern="patterns.phonePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td><strong>Address Line 1</strong></td>
										<td><div ng-class="(createPromotionForm.line1.$valid)?'':'has-error'" class="form-group"><input name="line1" class="form-control" ng-model="newpromotion.address.addressLine1" required/></div></td>
									</tr>
									<tr>
										<td><strong>Address Line 2</strong></td>
										<td><input name="line2" class="form-control" ng-model="newpromotion.address.addressLine2"/></td>
									</tr>
									<tr>
										<td><strong>City</strong> : <div ng-class="(createPromotionForm.city.$valid)?'':'has-error'" class="form-group"><input name="city" class="form-control" ng-model="newpromotion.address.city" required/></div></td>
										<td>
											<strong>State</strong> : 
											<div ng-class="(createPromotionForm.state.$valid)?'':'has-error'" class="form-group">
												<select name="state" class="form-control" ng-model="newpromotion.address.state" required>
													<option value="" selected>------------Select State------------</option>
													<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
													<option value="Andhra Pradesh">Andhra Pradesh</option>
													<option value="Arunachal Pradesh">Arunachal Pradesh</option>
													<option value="Assam">Assam</option>
													<option value="Bihar">Bihar</option>
													<option value="Chandigarh">Chandigarh</option>
													<option value="Chhattisgarh">Chhattisgarh</option>
													<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
													<option value="Daman and Diu">Daman and Diu</option>
													<option value="Delhi">Delhi</option>
													<option value="Goa">Goa</option>
													<option value="Gujarat">Gujarat</option>
													<option value="Haryana">Haryana</option>
													<option value="Himachal Pradesh">Himachal Pradesh</option>
													<option value="Jammu and Kashmir">Jammu and Kashmir</option>
													<option value="Jharkhand">Jharkhand</option>
													<option value="Karnataka">Karnataka</option>
													<option value="Kerala">Kerala</option>
													<option value="Lakshadweep">Lakshadweep</option>
													<option value="Madhya Pradesh">Madhya Pradesh</option>
													<option value="Maharashtra">Maharashtra</option>
													<option value="Manipur">Manipur</option>
													<option value="Meghalaya">Meghalaya</option>
													<option value="Mizoram">Mizoram</option>
													<option value="Nagaland">Nagaland</option>
													<option value="Orissa">Orissa</option>
													<option value="Pondicherry">Pondicherry</option>
													<option value="Punjab">Punjab</option>
													<option value="Rajasthan">Rajasthan</option>
													<option value="Sikkim">Sikkim</option>
													<option value="Tamil Nadu">Tamil Nadu</option>
													<option value="Tripura">Tripura</option>
													<option value="Uttaranchal">Uttaranchal</option>
													<option value="Uttar Pradesh">Uttar Pradesh</option>
													<option value="West Bengal">West Bengal</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td><strong>Pincode</strong> : <div ng-class="(createPromotionForm.pincode.$valid)?'':'has-error'" class="form-group"><input name="pincode" class="form-control" ng-model="newpromotion.address.pincode" required/></div></td>
										<td>
											<strong>Country</strong> :
											<div ng-class="(createPromotionForm.country.$valid)?'':'has-error'" class="form-group">
												<select name="country" class="form-control" ng-model="newpromotion.address.country" required>
													<option value="" selected>-------Select Country------</option>
													<option value="India">India</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createPromotion()">Create</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>