<div ng-controller="PricingController" ng-init="fetchPricings()">
	<div class="panel-body">
		<div class="col-sm-2 col-sm-offset-9">
			<button title="Create Pricing" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createPricingModal">
				<i class="fa fa-plus"></i> Pricing
			</button>
		</div>
	</div>
	<div class="panel-body">
		<div class="text-center">
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th class="text-center">Code</th>
							<th class="text-center">Name</th>
							<th class="text-center">Duration</th>
							<th class="text-center">Rate</th>
							<th class="text-center">Limit</th>
							<th class="text-center">Type</th>
							<th class="text-center hidden-xs">HSN/SAC</th>
							<th class="text-center hidden-xs">Interstate Tax</th>
							<th class="text-center hidden-xs">Intrastate Tax</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="(pricing.active)?'success':'warning'" ng-repeat="pricing in pricings" title="ACTIVE = {{pricing.active}}">
							<td>{{pricing.code}}</td>
							<td>{{pricing.name}}</td>
							<td>{{pricing.duration}}</td>
							<td><i class="fa fa-rupee"></i> {{pricing.rate}}</td>
							<td>{{pricing.limit}}</td>
							<td class="hidden-xs">{{pricing.type}}</td>
							<td class="hidden-xs">{{pricing.hsnsac}}</td>
							<td class="hidden-xs">{{pricing.interstateTax.name}} {{pricing.interstateTax.value}}%</td>
							<td class="hidden-xs">{{pricing.intrastateTax.name}} {{pricing.intrastateTax.value}}%</td>
							<td>
								<button ng-if="pricing.type == 'CUSTOM'" ng-click="updatePricingMerchant(pricing)" data-toggle="modal" data-target="#addPricingMerchantModal" type="button" class="btn btn-info btn-xs">Merchants</button>
								<button ng-if="pricing.active" ng-click="togglePricing(pricing.id)" type="button" class="btn btn-danger btn-xs">Deactivate</button>
								<button ng-if="!pricing.active" ng-click="togglePricing(pricing.id)" type="button" class="btn btn-success btn-xs">Activate</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>