<div ng-controller="PromotionController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Created between</label>
									<md-datepicker onkeydown="return false" ng-model="searchPromotionReq.createdFrom"></md-datepicker>
									<br><span>&nbsp;&nbsp;and</span><br>
									<md-datepicker onkeydown="return false" ng-model="searchPromotionReq.createdTo"></md-datepicker>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Name</label>
									<input class="form-control" ng-model="searchPromotionReq.name" placeholder="Promotion Name" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Email</label>
									<input class="form-control" ng-model="searchPromotionReq.email" placeholder="Promotion Email" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Phone</label>
									<input class="form-control" ng-model="searchPromotionReq.phone" type="number" placeholder="Promotion Mobile" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchPromotion()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearPromotionSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<div class="row">
					<div class="col-sm-2 col-sm-offset-9">
						<button ng-if="user.access.supervisor" title="Create Promotion" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createPromotionModal">
							<i class="fa fa-plus"></i> Promotion
						</button>
					</div>
				</div>
				<br>
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th class="hidden-xs">Created</th>
							<th class="hidden-xs">Notified</th>
						</tr>
					</thead>
					<tbody ng-repeat="promotion in promotionResp.promotionList">
						<tr ng-class="(promotion.sent)?'success':'warning'" data-toggle="collapse" data-target="#prodetails-{{promotion.id}}" class="accordion-toggle">
							<td>{{promotion.name}}</td>
							<td>{{promotion.email}}</td>
							<td>{{promotion.phone}}</td>
							<td class="hidden-xs">{{promotion.created | date:'dd-MM-yyyy HH:mm'}}</td>
							<td class="hidden-xs">{{promotion.notified}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding: 0px; border: 0px;">
								<div style="padding: 10px;" class="accordion-body collapse" id="prodetails-{{promotion.id}}">
									<div class="row">
										<div class="col-md-6">
											<button title="resend mail" class="btn btn-danger btn-sm" ng-click="notify(promotion.id)"><i class="fa fa-envelope"></i></button>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-6">
											<div class="box box-warning">
												<div class="box-header with-border">
													<h5 class="box-title">Address</h5>
												</div>
												<div class="box-body">
													<p ng-if="promotion.address != null">
														{{promotion.address.addressLine1}},<br>
														{{promotion.address.addressLine2}},<br>
														{{promotion.address.city}},<br>
														{{promotion.address.state}} - {{promotion.address.pincode}},<br>
														{{promotion.address.country}}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(promotionResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(promotionResp.page <= 1) || loadPromotionPage(promotionResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in promotionResp.allPages" ng-class="(page == promotionResp.page)?'active':''"><a ng-click="loadPromotionPage(page)" href="#">{{page}}</a></li>
					<li ng-class="(promotionResp.page >= promotionResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(promotionResp.page >= promotionResp.allPages.length) || loadPromotionPage(promotionResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>