<div>
	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom tab-danger">
				<ul class="nav nav-tabs">
					<li class="active" ng-click="searchInvoice()"><a href="#invoiceTab" data-toggle="tab">Invoices</a></li>
					<li ng-click="searchInvoicePayment()"><a href="#invoicePaymentTab" data-toggle="tab">Payments</a></li>
				</ul>
				<div class="tab-content">
					<div id="invoiceTab" class="active tab-pane" ng-include="templateUrl('admin/sales','invoiceTab')"></div>
			        <div id="invoicePaymentTab" class="tab-pane" ng-include="templateUrl('common/sales','invoicePaymentTab')"></div>
				</div>
			</div>
		</div>
		<div ng-include="templateUrl('common/sales','invoiceInfoModal')"></div>
		<div ng-include="templateUrl('common/sales','noteModal')"></div>
		<div ng-include="templateUrl('common/sales','invoicePaymentModal')"></div>
		<div ng-include="templateUrl('common/sales','invoiceTimelineModal')"></div>
	</div>
</div>