<div ng-controller="SubscriptionController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Created between</label>
									<md-datepicker onkeydown="return false" ng-model="searchSubsReq.createdFrom"></md-datepicker>
									<br><span>&nbsp;&nbsp;and</span><br>
									<md-datepicker onkeydown="return false" ng-model="searchSubsReq.createdTo"></md-datepicker>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Merchant Id</label>
									<input class="form-control" ng-model="searchSubsReq.merchant" type="number" placeholder="100" step="1" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Pricing</label>
									<select class="form-control" ng-model="searchSubsReq.pricing">
										<option ng-repeat="pricing in pricings" value="{{pricing.id}}">{{pricing.name}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Pay Mode</label>
									<select class="form-control" ng-model="searchSubsReq.subsMode">
										<option ng-repeat="payMode in payModes" value="{{payMode}}">{{payMode}}</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Subscription Code</label>
									<input class="form-control" ng-model="searchSubsReq.subsCode" placeholder="Subscription Code" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchSubscription()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearSubscriptionSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Merchant</th>
							<th>Pricing Name</th>
							<th class="hidden-xs">Subscription Code</th>
							<th>Amount</th>
							<th class="hidden-xs">Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="subs in subsResp.subsList">
						<tr
							ng-class="(subs.status=='captured')?'success':(subs.status=='initiated')?'warning':'danger'"
							data-toggle="collapse"
							data-target="#subsdetails-{{subs.id}}"
							class="accordion-toggle">
							<td>{{subs.merchant.name}}</td>
							<td>{{subs.pricing.name}}</td>
							<td class="hidden-xs">{{subs.subscriptionCode}}</td>
							<td><i class="fa fa-rupee"></i> {{subs.payAmount}}</td>
							<td class="hidden-xs">{{subs.status}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding:0px;border:0px;">
								<div style="padding:10px" class="accordion-body collapse" id="subsdetails-{{subs.id}}">
									<div class="row">
										<div class="col-md-6">
											<a title="Downlaod PDF" class="btn btn-flat btn-default btn-md" href="/subscription/receipt/{{subs.subscriptionCode}}" target="_blank">
												<i class="fa fa-file-pdf-o"></i>
											</a>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h5>Subscription Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Created</strong></td>
														<td>{{subs.created | date:'dd-MM-yyyy HH:mm'}}</td>
													</tr>
													<tr>
														<td><strong>Pricing Rate</strong></td>
														<td><i class="fa fa-rupee"></i> {{subs.pricing.rate}}</td>
													</tr>
													<tr>
														<td><strong>Pricing Quantity</strong></td>
														<td>{{subs.quantity}}</td>
													</tr>
													<tr>
														<td><strong>{{subs.tax.name}} {{subs.tax.value}}%</strong></td>
														<td><i class="fa fa-rupee"></i> {{subs.payAmount - subs.total}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-6">
											<h5>Payment Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Payment Ref No</strong></td>
														<td>{{subs.paymentRefNo}}</td>
													</tr>
													<tr>
														<td><strong>Pay Mode</strong></td>
														<td>{{subs.payMode}}</td>
													</tr>
													<tr>
														<td><strong>Method</strong></td>
														<td>{{subs.method}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(subsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(subsResp.page <= 1) || loadSubsPage(subsResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in subsResp.allPages" ng-class="(page == subsResp.page)?'active':''"><a ng-click="loadSubsPage(page)" href="#">{{page}}</a></li>
					<li ng-class="(subsResp.page >= subsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(subsResp.page >= subsResp.allPages.length) || loadSubsPage(subsResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>