<div id="createReportModal" ng-controller="ReportsController" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div id="newInvoice" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create New Report</h5>
			</div>
			<div class="modal-body">
				<form name="createPricingForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(createPricingForm.name.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input class="form-control" ng-model="newreport.name" name="name" placeholder="Report Name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createPricingForm.description.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Description</label>
												<input class="form-control" ng-model="newreport.description" name="description" placeholder="Report Description" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div  ng-class="(createPricingForm.timeRange.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Time Range</label>
												<select class="form-control" ng-model="newreport.timeRange" name="timeRange" required>
													<option ng-repeat="timeRange in timeRanges" value="{{timeRange}}">{{timeRange}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(createPricingForm.reportType.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Report Type</label>
												<select class="form-control" ng-model="newreport.reportType" name="reportType" required>
													<option ng-repeat="reportType in reportTypes" value="{{reportType}}">{{reportType}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label class="control-label">Pay Type</label>
											<select class="form-control" ng-model="newreport.payType">
												<option value="SALE">SALE</option>
												<option value="REFUND">REFUND</option>
											</select>
										</td>
									</tr>
									<tr>
										<td>
											<label class="control-label">Pay Mode</label>
											<select class="form-control" ng-model="newreport.payMode">
												<option ng-repeat="payMode in payModes" value="{{payMode}}">{{payMode}}</option>
											</select>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-click="createReport()">Create</button>
				<button type="button" class="btn btn-info" ng-click="loadReport(newreport)">Load</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>