<div ng-controller="ReportsController" id="recurrReportModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Schedule Reports</h5>
			</div>
			<div class="modal-body">
				<div class="row text-center">
					<div class="col-md-12">
						<h4>Scheduled Reports</h4>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">Report Name</th>
									<th class="text-center hidden-xs">Time Range</th>
									<th class="text-center hidden-xs">Start Date</th>
									<th class="text-center hidden-xs">Next Date</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-class="(recRepUser.recurringReport.active)?'success':'danger'" ng-repeat="recRepUser in recRepUsers" title="{{recRepUser.recurringReport.active}}">
									<td>{{recRepUser.recurringReport.report.name}}</td>
									<td class="hidden-xs">{{recRepUser.recurringReport.report.timeRange}}</td>
									<td class="hidden-xs">{{recRepUser.recurringReport.startDate | date:'dd-MM-yyyy HH:mm'}}</td>
									<td class="hidden-xs">{{recRepUser.recurringReport.nextDate | date:'dd-MM-yyyy HH:mm'}}</td>
									<td>
										<button ng-click="removeSchedule(recRepUser.id)" type="button" class="btn btn-danger btn-xs" title="Delete">
											<i class="fa fa-times"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<h5>Schedule Report (Receive report emails on corresponding dates)</h5>
				<form name="recurringInvoiceForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Select Report</label>
												<select class="form-control" ng-model="addScheduleReport">
													<option ng-repeat="report in reports" value="{{report.id}}">{{report.name}}</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="addSchedule(addScheduleReport)">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>