<div ng-controller="ReportsController">
	<div class="panel-body">
		<div class="col-sm-2 col-sm-offset-9">
			<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#createReportModal">
				<i class="fa fa-plus"></i> Report
			</button>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4" ng-repeat="report in reports">
				<div class="box box-warning">
					<div class="box-header with-border">
						<div class="box-title"><small>{{report.name}}</small></div>
						<div class="box-tools pull-right">
							<button ng-click="loadReport(report)" class="btn btn-flat btn-xs btn-info" title="Load Report">
								<i class="fa fa-retweet"></i>
							</button>
							<button ng-click="getSchedule(report.id)" data-toggle="modal" data-target="#recurrReportModal" class="btn btn-flat btn-xs btn-success" title="Schedule Report">
								<i class="fa fa-clock-o"></i>
							</button>
							<button ng-if="report.merchant!=null" ng-click="deleteReport(report.id, report.name)" class="btn btn-flat btn-xs btn-danger" title="Delete Report">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<span class="text-blue"><small>{{report.description}}</small></span>
					</div>
					<div class="box-footer no-padding">
						<small>
	              			<ul class="nav nav-pills nav-stacked">
			                	<li><a>Time Range <span class="pull-right text-red">{{report.timeRange}}</span></a></li>
			                	<li><a>Report Type <span class="pull-right text-green">{{report.reportType}}</span></a></li>
			                	<li ng-if="report.payType != null"><a>Pay Type <span class="pull-right text-yellow">{{report.payType}}</span></a></li>
			                	<li ng-if="report.payMode != null"><a>Pay Mode <span class="pull-right text-blue">{{report.payMode}}</span></a></li>
			            	</ul>
		            	</small>
            		</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div ng-if="reportsResp.invoiceReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Invoice Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center hidden-xs"><strong>Paid Date</strong></td>
									<td class="text-center hidden-xs"><strong>Invoice Code</strong></td>
									<td class="text-center"><strong>Pay Amount</strong></td>
									<td class="text-center"><strong>Currency</strong></td>
									<td class="text-center hidden-xs"><strong>Invoice Status</strong></td>
									<td class="text-center hidden-xs"><strong>Payment Ref No</strong></td>
									<td class="text-center"><strong>Pay Type</strong></td>
									<td class="text-center"><strong>Pay Mode</strong></td>
									<td class="text-center hidden-xs"><strong>Pay Method</strong></td>
									<td class="text-center hidden-xs"><strong>Pay Status</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="invoiceReport in reportsResp.invoiceReports">
									<td class="hidden-xs">{{invoiceReport.paidDate | date:'dd-MM-yyyy'}}</td>
									<td class="hidden-xs">{{invoiceReport.invoiceCode}}</td>
									<td>{{invoiceReport.payAmount}}</td>
									<td>{{invoiceReport.currency}}</td>
									<td class="hidden-xs">{{invoiceReport.invoiceStatus}}</td>
									<td class="hidden-xs">{{invoiceReport.paymentRefNo}}</td>
									<td>{{invoiceReport.payType}}</td>
									<td>{{invoiceReport.payMode}}</td>
									<td class="hidden-xs">{{invoiceReport.payMethod}}</td>
									<td class="hidden-xs">{{invoiceReport.payStatus}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="reportsResp.expenseReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Expense Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center hidden-xs"><strong>Paid Date</strong></td>
									<td class="text-center hidden-xs"><strong>Expense Code</strong></td>
									<td class="text-center"><strong>Pay Amount</strong></td>
									<td class="text-center"><strong>Currency</strong></td>
									<td class="text-center hidden-xs"><strong>Expense Status</strong></td>
									<td class="text-center hidden-xs"><strong>Payment Ref No</strong></td>
									<td class="text-center"><strong>Pay Type</strong></td>
									<td class="text-center"><strong>Pay Mode</strong></td>
									<td class="text-center hidden-xs"><strong>Pay Method</strong></td>
									<td class="text-center hidden-xs"><strong>Pay Status</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="expenseReport in reportsResp.expenseReports">
									<td class="hidden-xs">{{expenseReport.paidDate | date:'dd-MM-yyyy'}}</td>
									<td class="hidden-xs">{{expenseReport.invoiceCode}}</td>
									<td>{{expenseReport.payAmount}}</td>
									<td>{{expenseReport.currency}}</td>
									<td class="hidden-xs">{{expenseReport.invoiceStatus}}</td>
									<td class="hidden-xs">{{expenseReport.paymentRefNo}}</td>
									<td>{{expenseReport.payType}}</td>
									<td>{{expenseReport.payMode}}</td>
									<td class="hidden-xs">{{expenseReport.payMethod}}</td>
									<td class="hidden-xs">{{expenseReport.payStatus}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="reportsResp.consumerReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Consumer Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center"><strong>Name</strong></td>
									<td class="text-center hidden-xs"><strong>Email</strong></td>
									<td class="text-center"><strong>Mobile</strong></td>
									<td class="text-center hidden-xs"><strong>Invoices</strong></td>
									<td class="text-center hidden-xs"><strong>Refunded</strong></td>
									<td class="text-center"><strong>Invoice Amount</strong></td>
									<td class="text-center"><strong>Refund Amount</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="consumerReport in reportsResp.consumerReports">
									<td>{{consumerReport.name}}</td>
									<td class="hidden-xs">{{consumerReport.email}}</td>
									<td>{{consumerReport.mobile}}</td>
									<td class="hidden-xs">{{consumerReport.invoices}}</td>
									<td class="hidden-xs">{{consumerReport.refunded}}</td>
									<td class="hidden-xs">{{consumerReport.invoiceAmt}}</td>
									<td class="hidden-xs">{{consumerReport.refundAmt}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="reportsResp.supplierReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Supplier Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center"><strong>Name</strong></td>
									<td class="text-center hidden-xs"><strong>Email</strong></td>
									<td class="text-center"><strong>Mobile</strong></td>
									<td class="text-center hidden-xs"><strong>Expenses</strong></td>
									<td class="text-center hidden-xs"><strong>Refunded</strong></td>
									<td class="text-center"><strong>Expense Amount</strong></td>
									<td class="text-center"><strong>Refund Amount</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="supplierReport in reportsResp.supplierReports">
									<td>{{supplierReport.name}}</td>
									<td class="hidden-xs">{{supplierReport.email}}</td>
									<td>{{supplierReport.mobile}}</td>
									<td class="hidden-xs">{{supplierReport.expenses}}</td>
									<td class="hidden-xs">{{supplierReport.refunded}}</td>
									<td>{{supplierReport.expenseAmt}}</td>
									<td>{{supplierReport.refundAmt}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="reportsResp.inventoryReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Inventory Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center"><strong>Code</strong></td>
									<td class="text-center hidden-xs"><strong>Name</strong></td>
									<td class="text-center hidden-xs"><strong>Rate</strong></td>
									<td class="text-center"><strong>Sale Quantity</strong></td>
									<td class="text-center"><strong>Sale Amount</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="inventoryReport in reportsResp.inventoryReports">
									<td>{{inventoryReport.code}}</td>
									<td class="hidden-xs">{{inventoryReport.name}}</td>
									<td class="hidden-xs">{{inventoryReport.rate}}</td>
									<td>{{inventoryReport.saleQuantity}}</td>
									<td>{{inventoryReport.saleAmt}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="reportsResp.assetReports != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">Asset Report ({{loadedreport.name}})</h5>
						<div class="box-tools pull-right">
							<button title="Download CSV" class="btn btn-flat btn-success btn-xs" ng-click="downloadReport(loadedreport)"><i class="fa fa-download"></i></button>
							<button title="Mail CSV" class="btn btn-flat btn-danger btn-xs" ng-click="mailReport(loadedreport)"><i class="fa fa-envelope"></i></button>
						</div>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<td class="text-center"><strong>Code</strong></td>
									<td class="text-center hidden-xs"><strong>Name</strong></td>
									<td class="text-center hidden-xs"><strong>Rate</strong></td>
									<td class="text-center"><strong>Sale Quantity</strong></td>
									<td class="text-center"><strong>Sale Amount</strong></td>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr ng-repeat="assetReport in reportsResp.assetReports">
									<td>{{assetReport.code}}</td>
									<td class="hidden-xs">{{assetReport.name}}</td>
									<td class="hidden-xs">{{assetReport.rate}}</td>
									<td>{{assetReport.saleQuantity}}</td>
									<td>{{assetReport.saleAmt}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(reportsResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(reportsResp.page <= 1) || loadReportPage(reportsResp.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in reportsResp.allPages" ng-class="(page == reportsResp.page)?'active':''"><a ng-click="loadReportPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(reportsResp.page >= reportsResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(reportsResp.page >= reportsResp.allPages.length) || loadReportPage(reportsResp.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>