<div ng-controller="UsersController">
	<div class="panel-body">
		<div class="col-sm-2 col-sm-offset-9">
			<button title="Create User" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createUserModal">
				<i class="fa fa-plus"></i> User
			</button>
		</div>
	</div>
	<div class="panel-body text-center">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center hidden-xs">Email</th>
						<th class="text-center hidden-xs">Mobile</th>
						<th class="text-center">Role</th>
						<th class="text-center hidden-xs">Created By</th>
						<th class="text-center hidden-xs">Created</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
				<tbody id="itemBody">
					<tr ng-class="(myuser.active)?'success':'danger'" ng-repeat="myuser in myusers" title="{{myusers.active}}">
						<td>{{myuser.name}}</td>
						<td class="hidden-xs">{{myuser.email}}</td>
						<td class="hidden-xs">{{myuser.mobile}}</td>
						<td>{{myuser.userType}}</td>
						<td class="hidden-xs">{{myuser.createdBy}}</td>
						<td class="hidden-xs">{{myuser.created | date:'dd:MM:yyyy HH:mm'}}</td>
						<td>
							<button title="DEACTIVATE" ng-if="myuser.active" ng-click="toggleUser(myuser.id)" type="button" class="btn btn-flat btn-danger btn-xs">
								<i class="fa fa-minus"></i>
							</button>
							<button title="ACTIVATE" ng-if="!myuser.active" ng-click="toggleUser(myuser.id)" type="button" class="btn btn-flat btn-success btn-xs">
								<i class="fa fa-check"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>