<div ng-controller="SupplierController" id="createSupplierModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create New Supplier</h5>
			</div>
			<div class="modal-body">
				<form name="addSupplierForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(addSupplierForm.addSupplierName.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input name="addSupplierName" class="form-control" placeholder="Name" ng-model="newsupplier.name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addSupplierForm.addSupplierEmail.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Email</label>
												<input name="addSupplierEmail" class="form-control" placeholder="Email" ng-model="newsupplier.email" ng-pattern="patterns.emailPattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addSupplierForm.addSupplierMobile.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Mobile</label>
												<input name="addSupplierMobile" class="form-control" placeholder="Mobile" ng-model="newsupplier.mobile" ng-pattern="patterns.mobilePattern" type="number" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addSupplierForm.addSupplierGstin.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">GSTIN</label>
												<input name="addSupplierGstin" class="form-control" placeholder="Mobile" ng-model="newsupplier.gstin" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createSupplier()">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>