<div ng-controller="ExpenseController" id="createExpenseModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="min-width: 200%; margin-left: -50%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="col-md-4">
					<h5 class="modal-title">
						<span>Expense for purchase <strong>: {{saveexpense.expenseCode}}</strong></span>
					</h5>
				</div>
			</div>
			<div class="modal-body">
				<form name="createExpenseForm">
					<div class="row">
						<div class="col-md-6 col-lg-5">
							<div ng-if="!(saveexpense.expenseType == 'BULK')" class="panel panel-default">
								<div class="panel-heading">Supplier Details</div>
								<div class="panel-body">
									<div ng-class="(createExpenseForm.supname.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Name:</label>&nbsp;
										<input ng-model="saveexpense.supplier.name" list="supname-auto-complete" ng-change="setSupplier(saveexpense.supplier,'NAME')" name="supname" autocomplete="off" class="form-control" placeholder="Supplier Name" type="text" ng-pattern="patterns.namePattern" required autofocus />
										<datalist id="supname-auto-complete">
											<option ng-repeat="supplier in supplierList" ng-if="supplier.active" ng-value="supplier.name">
										</datalist>
									</div>
									<div ng-class="(createExpenseForm.supemail.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Email:</label>&nbsp;
										<input ng-model="saveexpense.supplier.email" list="supemail-auto-complete" ng-change="setSupplier(saveexpense.supplier,'EMAIL')" name="supemail" autocomplete="off" class="form-control" placeholder="Supplier Email" type="email" ng-pattern="patterns.emailPattern" required />
										<datalist id="supemail-auto-complete">
											<option ng-repeat="supplier in supplierList" ng-if="supplier.active" ng-value="supplier.email">
										</datalist>
									</div>
									<div ng-class="(createExpenseForm.supmobile.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Mobile:</label>&nbsp;
										<input ng-model="saveexpense.supplier.mobile" list="supmobile-auto-complete" ng-change="setSupplier(saveexpense.supplier,'MOBILE')" name="supmobile" autocomplete="off" class="form-control" placeholder="Supplier Mobile" type="text" ng-pattern="patterns.mobilePattern" required />
										<datalist id="supmobile-auto-complete">
											<option ng-repeat="supplier in supplierList" ng-if="supplier.active" ng-value="supplier.mobile">
										</datalist>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">Expense Preferences</div>
								<div class="panel-body">
									<input type="checkbox" ng-change="calculateExpTotal()" ng-model="saveexpense.addItems">&nbsp;<strong>Add Items</strong><br>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="panel panel-default">
								<div class="panel-heading">Order Params</div>
								<div class="panel-body">
									<div ng-class="(createExpenseForm.invoiceCode.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Invoice Code:</label>
										<input ng-model="saveexpense.invoiceCode" name="invoiceCode" autocomplete="off" class="form-control" placeholder="Invoice Code" type="text" ng-pattern="patterns.paramNamePattern" required />
									</div>
									<div ng-class="(createExpenseForm.invoiceDate.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Invoice Date:</label>
										<md-datepicker onkeydown="return false" ng-model="saveexpense.invoiceDate" name="invoiceDate"></md-datepicker>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<h5 class="col-md-11">
											<strong>Order summary</strong>
										</h5>
										<div>
											<button ng-if="saveexpense.addItems" ng-click="addItem()" type="button" class="btn btn-flat btn-success btn-sm">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table id="itemsTable" class="table table-bordered table-responsive">
											<thead>
												<tr>
													<th class="text-center"></th>
													<th class="text-center"><strong>Code</strong></th>
													<th class="text-center"><strong>Name</strong></th>
													<th class="text-center"><strong>Rate</strong></th>
													<th class="text-center"><strong>Qty</strong></th>
													<th class="text-center"><strong>Tax</strong></th>
													<th class="text-right"><strong>Total</strong></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-if="saveexpense.addItems" ng-repeat="item in saveexpense.items">
													<td>
														<div class="text-center">
															<button ng-click="deleteItem($index)" type="button" class="btn btn-flat btn-danger btn-sm">
																<i class="fa fa-times"></i>
															</button>
														</div>
													</td>
													<td>
														<div ng-class="(createExpenseForm.itemCode{{$index}}.$valid)?'':'has-error'" class="form-group">
															<input class="form-control text-center" list="expitem-code-auto-complete" ng-change="setAsset(item,'CODE')" ng-model="item.asset.code" name="itemCode{{$index}}" autocomplete="off" placeholder="Code" type="text" ng-pattern="patterns.paramNamePattern" required />
															<datalist id="expitem-code-auto-complete">
																<option ng-repeat="astitem in assetList" ng-if="astitem.active" ng-value="astitem.code">
															</datalist>
														</div>
													</td>
													<td>
														<div ng-class="(createExpenseForm.itemName{{$index}}.$valid)?'':'has-error'" class="form-group">
															<input class="form-control text-center" list="expitem-name-auto-complete" ng-change="setAsset(item,'NAME')" ng-model="item.asset.name" name="itemName{{$index}}" autocomplete="off" placeholder="Name" type="text" ng-pattern="patterns.namePattern" required />
															<datalist id="expitem-name-auto-complete">
																<option ng-repeat="astitem in assetList" ng-if="astitem.active" ng-value="astitem.name">
															</datalist>
														</div>
													</td>
													<td>
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-center" ng-change="calculateExpTotal()" ng-model="item.asset.rate" placeholder="2000.00" type="number" step="0.01" required />
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<input class="form-control text-center" ng-change="calculateExpTotal()" ng-model="item.quantity" placeholder="2" type="number" required />
														</div>
													</td>
													<td>
														<div class="form-group">
															<select class="form-control" ng-model="item.tax" ng-change="calculateExpTotal()">
																<option ng-repeat="tax in taxList" ng-value="tax">{{tax.name}} {{tax.value}}%</option>
															</select>
														</div>
													</td>
													<td>
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="item.price" placeholder="4000.00" type="number" step="0.01" readonly />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-readonly="saveexpense.addItems" ng-change="calculateExpTotal()" ng-model="saveexpense.total" placeholder="1200.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
													<td class="emptyrow text-center"><strong>Total</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="saveexpense.totalPrice" placeholder="1200.00" type="number" step="0.01" readonly/>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Shipping</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-change="calculateExpTotal()" ng-model="saveexpense.shipping" placeholder="40.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Discount</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-change="calculateExpTotal()" ng-model="saveexpense.discount" placeholder="40.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Pay Amount</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="saveexpense.payAmount" placeholder="4360.00" type="number" step="0.01" readonly required />
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createExpense()">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>