<div ng-controller="ExpenseController" id="expenseRefundModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">
					<span>Refund : Expense# <strong>{{expenseInfo.expenseCode}}</strong></span>
				</h5>
			</div>
			<div class="modal-body">
				<form name="refundForm">
					<div class="row">
						<div class="panel-default col-md-8">
							<div class="col-md-6 col-xs-6">
								<div ng-class="(refundForm.amount.$valid)?'':'has-error'"
									class="input-group">
									<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
									<input name="amount" class="form-control" placeholder="Amount" ng-model="refundAmount" ng-pattern="patterns.amountPattern" type="number" required />
								</div>
							</div>
							<div class="col-md-6 col-xs-6">
								<button type="button" class="btn btn-button btn-warning" ng-click="refundExpense(expenseInfo.expenseCode, refundAmount)">Partial Refund</button>
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<button type="button" class="btn btn-button btn-warning" ng-click="refundExpense(expenseInfo.expenseCode, expenseInfo.payAmount)"><i class="fa fa-rupee"></i> {{expenseInfo.payAmount}} Full Refund</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>