<div ng-controller="ExpenseController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="box table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Created between</label>
									<md-datepicker onkeydown="return false" ng-model="searchExpenseReq.createdFrom"></md-datepicker>
									<br><span>&nbsp;&nbsp;and</span><br>
									<md-datepicker onkeydown="return false" ng-model="searchExpenseReq.createdTo"></md-datepicker>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Expense Code</label>
									<input class="form-control" ng-model="searchExpenseReq.expenseCode" placeholder="Expense Code" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Code</label>
									<input class="form-control" ng-model="searchExpenseReq.invoiceCode" placeholder="Invoice Code" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Expense Status</label>
									<select class="form-control" ng-model="searchExpenseReq.expenseStatus">
										<option value="UNPAID">UNPAID</option>
										<option value="PAID">PAID</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Amount</label>
									<input class="form-control" ng-model="searchExpenseReq.amount" placeholder="1000.00" step=".01" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Supplier Email</label>
									<input class="form-control" ng-model="searchExpenseReq.email" placeholder="name@email.com" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Supplier Mobile</label>
									<input class="form-control" ng-model="searchExpenseReq.mobile" type="text" placeholder="9999999999" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Item Code</label>
									<input class="form-control" ng-model="searchExpenseReq.itemCode" type="text" placeholder="item code" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchExpense()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearExpenseSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<div ng-if="user.access.finance" class="row hidden-xs">
					<div class="col-md-2 col-md-offset-10">
						<button title="Create Expense" class="btn btn-info btn-sm" ng-click="updateSaveExpense(newexpense)" data-toggle="modal" data-target="#createExpenseModal">
							<i class="fa fa-plus"></i> Expense
						</button>
					</div>
				</div>
				<div ng-if="user.access.finance" class="row visible-xs">
					<div class="col-md-2 col-md-offset-10">
						<button class="btn btn-info btn-sm" ng-click="updateSaveExpense(newexpense)" data-toggle="modal" data-target="#createExpenseXsModal">
							<i class="fa fa-plus"></i> Expense
						</button>
					</div>
				</div>
				<br>
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Expense Code</th>
							<th>Amount</th>
							<th>Invoice Code</th>
							<th class="hidden-xs">Created</th>
							<th class="hidden-xs">Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="expense in expenseResp.expenseList">
						<tr
							ng-class="(expense.status=='PAID')?'success':'warning'"
							data-toggle="collapse"
							data-target="#expdetails-{{expense.expenseCode}}"
							class="accordion-toggle">
							<td>{{expense.expenseCode}}</td>
							<td><i class="fa fa-rupee"></i> {{expense.payAmount}}</td>
							<td>{{expense.invoiceCode}}</td>
							<td class="hidden-xs">{{expense.created | date:'dd-MM-yyyy HH:mm'}}</td>
							<td class="hidden-xs">{{expense.status}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding: 0px; border: 0px;">
								<div style="padding:10px;" class="accordion-body collapse" id="expdetails-{{expense.expenseCode}}">
									<div class="row">
										<div class="col-md-12">
											<button ng-click="updateExpenseInfo(expense)" title="Info" class="btn btn-flat btn-info btn-md" data-toggle="modal" data-target="#expenseInfoModal">
												<i class="fa fa-info"></i>
											</button>
											<button ng-if="expense.status != 'PAID' && user.access.finance" title="Edit Expense" class="btn btn-flat btn-warning btn-md hidden-xs" ng-click="updateSaveExpense(expense)" data-toggle="modal" data-target="#createExpenseModal">
												<i class="fa fa-pencil"></i>
											</button>
											<button ng-if="expense.status != 'PAID' && user.access.finance" title="Edit Expense" class="btn btn-flat btn-warning btn-md visible-xs-inline" ng-click="updateSaveExpense(expense)" data-toggle="modal" data-target="#createExpenseXsModal">
												<i class="fa fa-pencil"></i>
											</button>
											<button ng-click="updateExpensePayInfo(expense)" title="Payments" class="btn btn-flat btn-success btn-md" data-toggle="modal" data-target="#expensePaymentModal">
												<i class="fa fa-rupee"></i>
											</button>
											<a title="Download Pdf" class="btn btn-flat bg-navy btn-md" href="/expense/receipt/{{expense.expenseCode}}" target="_blank">
												<i class="fa fa-file-pdf-o"></i>
											</a>
											<button ng-click="updateExpenseInfo(expense)" title="Attachments" class="btn btn-flat bg-maroon btn-md" data-toggle="modal" data-target="#expenseAttachmentModal">
												<i class="fa fa-paperclip"></i>
											</button>
											<button ng-click="fetchTimelines(expense)" title="Expense Timelines" class="btn btn-flat bg-purple btn-md hidden-xs" data-toggle="modal" data-target="#expenseTimelineModal">
												<i class="fa fa-level-down"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h5>Amount Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Total</strong></td>
														<td><i class="fa fa-rupee"></i> {{expense.total}}</td>
													</tr>
													<tr>
														<td><strong>Shipping</strong> : <i class="fa fa-rupee"></i> {{expense.shipping}}</td>
														<td><strong>Discount</strong> : <i class="fa fa-rupee"></i> {{expense.discount}}</td>
													</tr>
													<tr>
														<td><strong>Pay Amount</strong></td>
														<td><i class="fa fa-rupee"></i> {{expense.payAmount}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-6">
											<h5>Payment Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Payment Ref No</strong></td>
														<td>{{expense.payment.paymentRefNo}}</td>
													</tr>
													<tr>
														<td><strong>Pay Mode</strong></td>
														<td>{{expense.payment.method}}</td>
													</tr>
													<tr>
														<td><strong>Status</strong></td>
														<td>{{expense.payment.status}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div ng-if="expense.expenseType != 'BULK'" class="row">
										<div class="col-md-12">
											<h5>Supplier Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<thead>
													<tr>
														<th>Name</th>
														<th class="hidden-xs">Email</th>
														<th>Mobile</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{expense.supplier.name}}</td>
														<td class="hidden-xs">{{expense.supplier.email}}</td>
														<td>{{expense.supplier.mobile}}</td>
														<td>
															<button ng-click="searchSupplierExpenses(expense.supplier)" title="Search supplier expenses" class="btn btn-flat btn-warning btn-xs">
																<i class="fa fa-search"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div style="padding: 10px;" class="row">
										<div class="col-md-offset-4">
											<div class="text-right">
												<button style="margin: 5px;"
													ng-if="expense.status != 'PAID' && user.access.finance"
													ng-click="updateExpenseInfo(expense)"
													data-toggle="modal" data-target="#markExpensePaidModal"
													type="button" class="btn btn-success">Mark Paid</button>
												<button style="margin: 5px;"
													ng-if="expense.status == 'PAID' && user.access.finance"
													ng-click="updateExpenseInfo(expense)"
													data-toggle="modal" data-target="#expenseRefundModal"
													type="button" class="btn btn-danger">Register Refund</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(expenseResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(expenseResp.page <= 1) || loadExpensePage(expenseResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in expenseResp.allPages" ng-class="(page == expenseResp.page)?'active':''"><a ng-click="loadExpensePage(page)" href="#">{{page}}</a></li>
					<li ng-class="(expenseResp.page >= expenseResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(expenseResp.page >= expenseResp.allPages.length) || loadExpensePage(expenseResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>