<div ng-controller="ExpenseController" id="markExpensePaidModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">
					<span>Mark Paid : Expense# <strong>{{expenseInfo.expenseCode}}</strong></span>
				</h5>
			</div>
			<div class="modal-body">
				<form name="markPaidForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(markPaidForm.paymentRefNo.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Payment Reference Number</label>
												<input name="paymentRefNo" class="form-control" placeholder="Payment Ref No" ng-model="markpaid.paymentRefNo" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(markPaidForm.method.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Payment Method</label>
												<input name="method" class="form-control" placeholder="Method" ng-model="markpaid.method" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(markPaidForm.payMode.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Pay Mode</label>
												<select class="form-control" name="payMode" ng-model="markpaid.payMode" required>
													<option ng-repeat="payMode in payModes" ng-if="payMode != 'PAYCR'" value="{{payMode}}" selected="selected">{{payMode}}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Paid Date</label>
												<md-datepicker onkeydown="return false" ng-model="markpaid.paidDate"></md-datepicker>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="markPaidExpense(expenseInfo.expenseCode)">Mark Paid</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>