<div ng-controller="InvoiceController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-sm-3">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Created between</label>
									<md-datepicker onkeydown="return false" ng-model="searchInvoiceReq.createdFrom"></md-datepicker>
									<br><span>&nbsp;&nbsp;and</span><br>
									<md-datepicker onkeydown="return false" ng-model="searchInvoiceReq.createdTo"></md-datepicker>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Merchant Id</label>
									<input class="form-control" ng-model="searchInvoiceReq.merchant" type="number" placeholder="1000" step="1" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Code</label>
									<input class="form-control" ng-model="searchInvoiceReq.invoiceCode" placeholder="invoiceCode" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Type</label>
									<select class="form-control" ng-model="searchInvoiceReq.invoiceType">
										<option value="SINGLE">SINGLE</option>
										<option value="BULK">BULK</option>
										<option value="RECURRING">RECURRING</option>
									</select>
								</div>
							</td>
						</tr>
						<tr ng-if="searchInvoiceReq.invoiceType != 'BULK'">
							<td>
								<div class="form-group">
									<label class="control-label">Parent Invoice Code</label>
									<input class="form-control" ng-model="searchInvoiceReq.parentInvoiceCode" placeholder="parent invoiceCode" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Status</label>
									<select class="form-control" ng-model="searchInvoiceReq.invoiceStatus">
										<option value="CREATED">CREATED</option>
										<option value="UNPAID">UNPAID</option>
										<option value="DECLINED">DECLINED</option>
										<option value="EXPIRED">EXPIRED</option>
										<option value="PAID">PAID</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Email</label>
									<input class="form-control" ng-model="searchInvoiceReq.email" placeholder="name@email.com" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Mobile</label>
									<input class="form-control" ng-model="searchInvoiceReq.mobile" type="text" placeholder="9999999999" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchInvoice()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearInvoiceSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Invoice Code</th>
							<th>Amount</th>
							<th>Type</th>
							<th class="hidden-xs">Created</th>
							<th class="hidden-xs">Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="invoice in invoiceResp.invoiceList">
						<tr
							ng-class="(invoice.status=='PAID')?'success':(invoice.status=='EXPIRED')?'basic':(invoice.status=='DECLINED')?'danger':(invoice.status=='UNPAID')?'warning':'default'"
							data-toggle="collapse"
							data-target="#invdetails-{{invoice.invoiceCode}}"
							class="accordion-toggle">
							<td>{{invoice.invoiceCode}}</td>
							<td><i class="fa fa-rupee"></i> {{invoice.payAmount}}</td>
							<td>{{invoice.invoiceType}}</td>
							<td class="hidden-xs">{{invoice.created | date:'dd-MM-yyyy HH:mm'}}</td>
							<td class="hidden-xs">{{invoice.status}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding:0px;border:0px;">
								<div style="padding:10px" class="accordion-body collapse" id="invdetails-{{invoice.invoiceCode}}">
									<div class="row">
										<div class="col-md-6">
											<button ng-click="updateInvoiceInfo(invoice)" title="Info" class="btn btn-flat btn-info btn-md" data-toggle="modal" data-target="#invoiceInfoModal">
												<i class="fa fa-info"></i>
											</button>
											<button ng-if="invoice.invoiceType != 'BULK'" ng-click="updateInvoicePayInfo(invoice)" title="Payments" class="btn btn-flat btn-success btn-md" data-toggle="modal" data-target="#invoicePaymentModal">
												<i class="fa fa-rupee"></i>
											</button>
											<button ng-if="invoice.note != null" ng-click="updateInvoiceInfo(invoice)" title="Credit Note" class="btn btn-flat bg-red btn-md" data-toggle="modal" data-target="#creditNoteModal">
												<i class="fa fa-undo"></i>
											</button>
											<a title="Download Pdf" class="btn btn-flat bg-navy btn-md" href="/invoice/receipt/{{invoice.invoiceCode}}" target="_blank">
												<i class="fa fa-file-pdf-o"></i>
											</a>
											<button ng-if="invoice.invoiceType != 'SINGLE'" ng-click="searchChildInvoices(invoice.invoiceCode)" title="Search child invoices" class="btn btn-flat btn-warning btn-md">
												<i class="fa fa-search"></i>
											</button>
											<button ng-click="fetchTimelines(invoice)" title="Invoice Timelines" class="btn btn-flat btn-info btn-md hidden-xs" data-toggle="modal" data-target="#invoiceTimelineModal">
												<i class="fa fa-level-down"></i>
											</button>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h5>Amount Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Total</strong></td>
														<td><i class="fa fa-rupee"></i> {{invoice.total}}</td>
													</tr>
													<tr>
														<td><strong>Shipping</strong> : <i class="fa fa-rupee"></i> {{invoice.shipping}}</td>
														<td><strong>Discount</strong> : <i class="fa fa-rupee"></i> {{invoice.discount}}</td>
													</tr>
													<tr>
														<td><strong>Pay Amount</strong></td>
														<td><i class="fa fa-rupee"></i> {{invoice.payAmount}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-6">
											<h5>Payment Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Payment Ref No</strong></td>
														<td>{{invoice.payment.paymentRefNo}}</td>
													</tr>
													<tr>
														<td><strong>Pay Mode</strong></td>
														<td>{{invoice.payment.method}}</td>
													</tr>
													<tr>
														<td><strong>Status</strong></td>
														<td>{{invoice.payment.status}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<h5>Merchant Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<thead>
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th class="hidden-xs">Email</th>
														<th class="hidden-xs">Mobile</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{invoice.merchant.id}}</td>
														<td>{{invoice.merchant.name}}</td>
														<td class="hidden-xs">{{invoice.merchant.email}}</td>
														<td class="hidden-xs">{{invoice.merchant.mobile}}</td>
														<td>
															<button ng-click="searchMerchantInvoices(invoice)" title="Search merchant invoices" class="btn btn-flat btn-warning btn-xs">
																<i class="fa fa-search"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div ng-if="invoice.invoiceType != 'BULK'" class="row">
										<div class="col-md-12">
											<h5>Consumer Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<thead>
													<tr>
														<th>Name</th>
														<th class="hidden-xs">Email</th>
														<th>Mobile</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{invoice.consumer.name}}</td>
														<td class="hidden-xs">{{invoice.consumer.email}}</td>
														<td>{{invoice.consumer.mobile}}</td>
														<td>
															<button ng-click="searchConsumerInvoices(invoice.consumer)" title="Search consumer invoices" class="btn btn-flat btn-warning btn-xs">
																<i class="fa fa-search"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(invoiceResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(invoiceResp.page <= 1) || loadInvoicePage(invoiceResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in invoiceResp.allPages" ng-class="(page == invoiceResp.page)?'active':''"><a ng-click="loadInvoicePage(page)" href="#">{{page}}</a></li>
					<li ng-class="(invoiceResp.page >= invoiceResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(invoiceResp.page >= invoiceResp.allPages.length) || loadInvoicePage(invoiceResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>