<div ng-controller="InvoiceController" id="categoryConsumerModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5>Consumers for Categories: </h5>
				<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline" ng-repeat="conCatFilter in childInvoiceReq.conCatList">
					<a class="panel panel-default" href="#"><strong>{{conCatFilter.name}} : </strong>{{conCatFilter.value}}</a> 
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-responsive">
							<thead>
								<tr>
									<th>Name</th>
									<th class="hidden-xs">Email</th>
									<th class="hidden-xs">Mobile</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="consumer in consumerList">
									<td>{{consumer.name}}</td>
									<td class="hidden-xs">{{consumer.email}}</td>
									<td class="hidden-xs">{{consumer.mobile}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>