<div id="childInvoiceModal" ng-controller="InvoiceController" style="overflow-y:scroll;" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create Child Invoice : <strong>{{bulkInvoiceInfo.invoiceCode}}</strong>
					<select ng-model="childInvoiceReq.invoiceType">
						<option value="SINGLE">SINGLE</option>
						<option value="RECURRING" selected>RECURRING</option>
					</select>
				</h5>
			</div>
			<div class="modal-body">
				<form name="childInvoiceForm">
					<div class="row">
						<div class="col-md-12">
							<label>Recurring details</label>
							<table ng-if="childInvoiceReq.invoiceType == 'RECURRING'" class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Start Date</label>
												<md-datepicker onkeydown="return false" ng-model="childInvoiceReq.recInv.startDate"></md-datepicker>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(childInvoiceForm.total.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Total Installments</label>
												<input name="total" class="form-control" ng-model="childInvoiceReq.recInv.total" type="number" step="1" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Recurr Every</label>
												<select class="form-control" ng-model="childInvoiceReq.recInv.recurr">
													<option value="WEEKLY">WEEKLY</option>
													<option value="MONTHLY">MONTHLY</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<hr>
							<label>Add Category Consumers</label>
							<div>
								<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline" ng-repeat="conCatFilter in childInvoiceReq.conCatList">
									<label class="panel"><strong>{{conCatFilter.name}} : </strong>{{conCatFilter.value}}
										<a class="btn btn-flat btn-danger btn-xs" title="delete category" ng-click="deleteFilter($index)"><i class="fa fa-minus"></i></a>
									</label>&nbsp; 
								</div>
								<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline">
									<select ng-model="newFilter.name" ng-change="fetchCategoryValues(newFilter.name)">
										<option ng-repeat="category in categories" ng-value="category">{{category}}</option>
									</select>
									<select ng-model="newFilter.value">
										<option ng-repeat="catValue in catValues" ng-value="catValue">{{catValue}}</option>
									</select>
									<a class="btn btn-flat btn-success btn-xs" title="add filter" ng-click="addFilter(newFilter)"><i class="fa fa-plus"></i></a>
								</div>
								<a ng-if="childInvoiceReq.conCatList.length > 0" ng-click="fetchCategoryConsumer()" data-toggle="modal" data-target="#categoryConsumerModal" href="#">View Consumers</a>
							</div>
							<br>
							<button ng-if="childInvoiceReq.conCatList.length > 0" class="btn btn-info" ng-click="createCategoryInvoice(bulkInvoiceInfo.invoiceCode)">Create for category</button>
							<br><br>
							<label>History</label>
							<table class="table table-bordered table-responsive">
								<thead>
									<tr>
										<th>Categories</th>
										<th>Invoice Type</th>
										<th class="hidden-xs">Uploaded On</th>
										<th class="hidden-xs">Uploaded By</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-class="(bulkCategory.message == 'SUCCESS')?'success':'danger'" ng-repeat="bulkCategory in bulkCategories">
										<td>{{bulkCategory.categories}}</td>
										<td>{{bulkCategory.invoiceType}}</td>
										<td class="hidden-xs">{{bulkCategory.created | date:'dd-MM-yyyy HH:mm'}}</td>
										<td class="hidden-xs">{{bulkCategory.createdBy}}</td>
										<td>{{bulkCategory.message}}</td>
									</tr>
								</tbody>
							</table>
							<hr>
							<label>Add Single Consumer</label>
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(childInvoiceForm.name.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input class="form-control" ng-model="childInvoiceReq.consumer.name" list="name-auto-complete" ng-change="setConsumer(childInvoiceReq.consumer,'NAME')" autocomplete="off" name="name" placeholder="Name" ng-pattern="patterns.namePattern" required />
												<datalist id="name-auto-complete">
													<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.name">
												</datalist>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(childInvoiceForm.email.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Email</label>
												<input class="form-control" ng-model="childInvoiceReq.consumer.email" list="email-auto-complete" ng-change="setConsumer(childInvoiceReq.consumer,'EMAIL')" autocomplete="off" name="email" type="email" placeholder="Email" ng-pattern="patterns.emailPattern" required />
												<datalist id="email-auto-complete">
													<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.email">
												</datalist>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(childInvoiceForm.mobile.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Mobile</label>
												<input class="form-control" ng-model="childInvoiceReq.consumer.mobile" list="mobile-auto-complete" ng-change="setConsumer(childInvoiceReq.consumer,'MOBILE')" name="mobile" autocomplete="off" type="text" placeholder="Mobile" ng-pattern="patterns.mobilePattern" required />
												<datalist id="mobile-auto-complete">
													<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.mobile">
												</datalist>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<button class="btn btn-info" ng-click="createChildInvoice(bulkInvoiceInfo.invoiceCode)">Create One</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>