<div ng-controller="ConsumerController" ng-init="searchConsumer()">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div>
									<label class="control-label">Consumer Category</label><br>
									<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline" ng-repeat="conCatFilter in searchConsumerReq.conCatList">
										<label class="panel">{{conCatFilter.name}} : {{conCatFilter.value}}
											<a class="btn btn-flat btn-danger btn-xs" title="delete category" ng-click="deleteFilter($index)"><i class="fa fa-minus"></i></a>
										</label>&nbsp;
									</div>
									<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline">
										<select ng-model="newFilter.name" ng-change="fetchCategoryValues(newFilter.name)">
											<option ng-repeat="category in categories" ng-value="category">{{category}}</option>
										</select>
										<select ng-model="newFilter.value">
											<option ng-repeat="catValue in catValues" ng-value="catValue">{{catValue}}</option>
										</select>
										<a class="btn btn-flat btn-success btn-xs" title="add filter" ng-click="addFilter(newFilter)"><i class="fa fa-plus"></i></a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Name</label>
									<input class="form-control" ng-model="searchConsumerReq.name" placeholder="Name" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Email</label>
									<input class="form-control" ng-model="searchConsumerReq.email" placeholder="name@email.com" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Mobile</label>
									<input class="form-control" ng-model="searchConsumerReq.mobile" type="text" placeholder="9999999999" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchConsumer()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearConsumerSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<div ng-if="user.access.finance" class="row">
					<div class="col-sm-4 col-sm-offset-8">
						<button title="Update Consumer Bulk" type="button" class="btn btn-warning btn-flat btn-sm" data-toggle="modal" data-target="#updateConsumerBulkModal">
							<i class="fa fa-refresh"></i>
						</button>&nbsp;
						<button title="Upload Consumer" ng-click="updateBulkConsumerUploads()" type="button" class="btn btn-basic btn-sm" data-toggle="modal" data-target="#bulkConsumerUploadModal">
							<i class="fa fa-upload"></i> Consumer
						</button>&nbsp;
						<button title="Create Consumer" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createConsumerModal">
							<i class="fa fa-plus"></i> Consumer
						</button>
					</div>
				</div>
				<br>
				<table class="table table-bordered table-responsive">
					<thead>
						<tr>
							<td class="text-center"><strong>Name</strong></td>
							<td class="text-center hidden-xs"><strong>Email</strong></td>
							<td class="text-center"><strong>Mobile</strong></td>
							<td class="text-center hidden-xs"><strong>Created By</strong></td>
						</tr>
					</thead>
					<tbody ng-repeat="consumer in consumerResp.consumerList">
						<tr
							ng-class="(consumer.active)?'success':'danger'"
							data-toggle="collapse"
							data-target="#condetails-{{consumer.id}}"
							class="accordion-toggle">
							<td class="text-center">{{consumer.name}}</td>
							<td class="text-center hidden-xs">{{consumer.email}}</td>
							<td class="text-center">{{consumer.mobile}}</td>
							<td class="text-center hidden-xs">{{consumer.createdBy}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding: 0px; border: 0px;">
								<div style="padding:10px;" class="accordion-body collapse" id="condetails-{{consumer.id}}">
									<div class="row">
										<div class="col-md-12">
											<button title="Add Invoice" type="button"
												class="btn btn-flat btn-info btn-md hidden-xs"
												ng-if="user.access.finance"
												ng-click="updateInvoiceConsumer(consumer)"
												data-toggle="modal"
												data-target="#createInvoiceModal">
												<i class="fa fa-plus"></i>
											</button>
											<button title="Add Invoice" type="button"
												class="btn btn-flat btn-info btn-md visible-xs-inline"
												ng-if="user.access.finance"
												ng-click="updateInvoiceConsumer(consumer)"
												data-toggle="modal"
												data-target="#createInvoiceXsModal">
												<i class="fa fa-plus"></i>
											</button>
											<button title="Search Invoice" type="button"
												class="btn btn-flat btn-success btn-md"
												ng-click="seachConInvoice(consumer)"
												data-target="#invoiceTab"
												data-toggle="tab">
												<i class="fa fa-search"></i>
											</button>
											<!-- <button title="Edit Consumer" type="button"
												class="btn btn-flat btn-danger btn-md"
												ng-click="$parent.editConPrefs = !$parent.editConPrefs"
												ng-if="user.access.finance">
												<i class="fa fa-pencil"></i>
											</button> -->
											&nbsp;&nbsp;&nbsp;
											<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline" ng-repeat="conCat in consumer.conCats">
												<label class="panel" href="#">{{conCat.name}} : {{conCat.value}}
													<a ng-if="user.access.finance" class="btn btn-flat btn-danger btn-xs" title="delete category" ng-click="deleteCategory(consumer.id, conCat.id)"><i class="fa fa-minus"></i></a>
												</label>&nbsp;
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-lg-6">
											<!-- <h5>Consumer Settings</h5> -->
											<div class="box box-warning">
												<div class="box-header with-border">
													<h5 class="box-title">Consumer Settings</h5>
													<div class="box-tools pull-right">
														<button ng-if="user.access.finance" class="btn btn-flat btn-xs btn-warning" ng-click="$parent.editConPrefs = !$parent.editConPrefs" title="Edit Settings">
															<i class="fa fa-pencil"></i>
														</button>
													</div>
												</div>
												<div class="box-body">
													<fieldset ng-disabled="!editConPrefs">
														<table class="table table-striped table-bordered table-responsive">
															<tbody>
																<tr>
																	<td colspan="2">
																		<div class="row">
																			<div class="col-sm-5">
																				<input placeholder="category name" class="form-control" type="text" ng-model="newConCat.name" list="cat-auto-complete" ng-init="newConCat.name = ''" />
																				<datalist id="cat-auto-complete">
																					<option ng-repeat="category in categories" ng-value="category">
																				</datalist>
																			</div>
																			<div class="col-sm-5">
																				<input placeholder="category value" class="form-control" ng-disabled="newConCat.name == ''" type="text" ng-focus="fetchNewCategoryValues(newConCat.name)" ng-model="newConCat.value" list="catValue-auto-complete" ng-init="newConCat.value = ''" /> 
																				<datalist id="catValue-auto-complete">
																					<option ng-repeat="newCatValue in newCatValues" ng-value="newCatValue">
																				</datalist>
																			</div>
																			<div class="col-sm-2">
																				<a class="btn btn-flat btn-success btn-sm" title="add category" ng-click="addCategory(consumer.id, newConCat)"><i class="fa fa-plus"></i></a>
																			</div>
																		</div>
																	</td>
																</tr>
																<tr>
																	<td><strong>Created</strong></td>
																	<td>{{consumer.created | date:'dd-MM-yyyy HH:mm'}}</td>
																</tr>
																<tr>
																	<td><strong>GSTIN</strong></td>
																	<td><input class="form-control" ng-model="consumer.gstin"/></td>
																</tr>
																<tr>
																	<td><strong>Email On Pay</strong></td>
																	<td><input ng-model="consumer.emailOnPay" type="checkbox"/></td>
																</tr>
																<tr>
																	<td><strong>Email On Refund</strong></td>
																	<td><input ng-model="consumer.emailOnRefund" type="checkbox"/></td>
																</tr>
																<tr>
																	<td><strong>Consumer Type</strong></td>
																	<td>
																		<select ng-model="consumer.type" class="form-control">
																			<option value="CUSTOMER">CUSTOMER</option>
																			<option value="BUSINESS">BUSINESS</option>
																		</select>
																	</td>
																</tr>
																<tr>
																	<td><strong>Active</strong></td>
																	<td><input ng-model="consumer.active" type="checkbox"/></td>
																</tr>
															</tbody>
														</table>
													</fieldset>
												</div>
												<div ng-if="editConPrefs" class="box-footer">
									            	<div class="input-group">
									                	<span class="input-group-btn">
								                        	<button type="button" ng-click="updateConsumer(consumer)" class="btn btn-info">Save</button>
								                    	</span>
									                </div>
									            </div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="box box-warning">
												<div class="box-header with-border">
													<h5 class="box-title">Billing Address</h5>
													<div class="box-tools pull-right">
														<button ng-if="user.access.finance" ng-click="updateEditAddress('BILLING')" data-toggle="modal" data-target="#editConAddressModal" class="btn btn-flat btn-xs btn-warning" title="Edit Billing Address">
															<i class="fa fa-pencil"></i>
														</button>
													</div>
												</div>
												<div class="box-body">
													<p ng-if="consumer.billingAddress != null">
														{{consumer.billingAddress.addressLine1}},<br>
														{{consumer.billingAddress.addressLine2}},<br>
														{{consumer.billingAddress.city}},<br>
														{{consumer.billingAddress.state}} - {{consumer.billingAddress.pincode}},<br>
														{{consumer.billingAddress.country}}
													</p>
												</div>
											</div>
											<div class="box box-warning">
												<div class="box-header with-border">
													<h5 class="box-title">Shipping Address</h5>
													<div class="box-tools pull-right">
														<button ng-if="user.access.finance" ng-click="copyBillingAddress()" class="btn btn-flat btn-xs btn-info" title="Copy Billing Address">
															<i class="fa fa-file-o"></i>
														</button>
														<button ng-if="user.access.finance" ng-click="updateEditAddress('SHIPPING')" data-toggle="modal" data-target="#editConAddressModal" class="btn btn-flat btn-xs btn-warning" title="Edit Shipping Address">
															<i class="fa fa-pencil"></i>
														</button>
													</div>
												</div>
												<div class="box-body">
													<p ng-if="consumer.shippingAddress != null">
														{{consumer.shippingAddress.addressLine1}},<br>
														{{consumer.shippingAddress.addressLine2}},<br>
														{{consumer.shippingAddress.city}},<br>
														{{consumer.shippingAddress.state}} - {{consumer.shippingAddress.pincode}},<br>
														{{consumer.shippingAddress.country}}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(consumerResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(consumerResp.page <= 1) || loadConsumerPage(consumerResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in consumerResp.allPages" ng-class="(page == consumerResp.page)?'active':''"><a ng-click="loadConsumerPage(page)" href="#">{{page}}</a></li>
					<li ng-class="(consumerResp.page >= consumerResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(consumerResp.page >= consumerResp.allPages.length) || loadConsumerPage(consumerResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>