<div ng-controller="ConsumerController" id="createConsumerModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create New Consumer</h5>
			</div>
			<div class="modal-body">
				<form name="addConsumerForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(addConsumerForm.addConsumerName.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input name="addConsumerName" class="form-control" placeholder="Name" ng-model="newconsumer.name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addConsumerForm.addConsumerEmail.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Email</label>
												<input name="addConsumerEmail" class="form-control" placeholder="Email" ng-model="newconsumer.email" ng-pattern="patterns.emailPattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addConsumerForm.addConsumerMobile.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Mobile</label>
												<input name="addConsumerMobile" class="form-control" placeholder="Mobile" ng-model="newconsumer.mobile" ng-pattern="patterns.mobilePattern" type="number" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addConsumerForm.addConsumerGstin.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">GSTIN</label>
												<input name="addConsumerGstin" class="form-control" placeholder="Mobile" ng-model="newconsumer.gstin" ng-pattern="patterns.namePattern" />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Consumer Type</label>
												<select ng-model="newconsumer.type" class="form-control">
													<option value="CUSTOMER">CUSTOMER</option>
													<option value="BUSINESS">BUSINESS</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline" ng-repeat="flag in newconsumer.flags">
												<label class="panel">{{flag.name}}
													<a class="btn btn-flat btn-danger btn-xs" title="remove flag" ng-click="removeNewFlag($index)"><i class="fa fa-minus"></i></a>
												</label>&nbsp;
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="row">
												<div class="col-xs-10">
													<input placeholder="flag" class="form-control" type="text" ng-model="newFlag.name" list="cat-auto-complete" ng-init="newFlag.name = ''" />
													<datalist id="cat-auto-complete">
														<option ng-repeat="flag in flags" ng-value="flag">
													</datalist>
												</div>
												<div class="col-xs-2">
													<a class="btn btn-flat btn-success btn-sm" title="add flag" ng-click="addNewFlag(newFlag)"><i class="fa fa-plus"></i></a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createConsumer()">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>