<div ng-controller="InvoiceController" id="createInvoiceModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="min-width: 200%; margin-left: -50%;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="col-md-4">
					<h5 class="modal-title">
						<span>Invoice for sale <strong>: {{saveinvoice.invoiceCode}}</strong></span>
					</h5>
				</div>
				<div class="col-md-4">
					<select class="form-control" ng-model="saveinvoice.invoiceType">
						<option value="SINGLE">SINGLE</option>
						<option value="BULK">BULK</option>
						<option value="RECURRING">RECURRING</option>
					</select>
				</div>
			</div>
			<div class="modal-body">
				<form name="createInvoiceForm">
					<div class="row">
						<div class="col-md-6 col-lg-5">
							<div ng-if="!(saveinvoice.invoiceType == 'BULK')" class="panel panel-default">
								<div class="panel-heading">Consumer Details</div>
								<div class="panel-body">
									<div ng-class="(createInvoiceForm.conname.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Name:</label>&nbsp;
										<input ng-model="saveinvoice.consumer.name" list="name-auto-complete" ng-change="setConsumer(saveinvoice.consumer,'NAME')" name="conname" autocomplete="off" class="form-control" placeholder="Consumer Name" type="text" ng-pattern="patterns.namePattern" required autofocus />
										<datalist id="name-auto-complete">
											<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.name">
										</datalist>
									</div>
									<div ng-class="(createInvoiceForm.conemail.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Email:</label>&nbsp;
										<input ng-model="saveinvoice.consumer.email" list="email-auto-complete" ng-change="setConsumer(saveinvoice.consumer,'EMAIL')" name="conemail" autocomplete="off" class="form-control" placeholder="Consumer Email" type="email" ng-pattern="patterns.emailPattern" required />
										<datalist id="email-auto-complete">
											<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.email">
										</datalist>
									</div>
									<div ng-class="(createInvoiceForm.conmobile.$valid)?'':'has-error'" class="form-group">
										<label class="control-label">Mobile:</label>&nbsp;
										<input ng-model="saveinvoice.consumer.mobile" list="mobile-auto-complete" ng-change="setConsumer(saveinvoice.consumer,'MOBILE')" name="conmobile" autocomplete="off" class="form-control" placeholder="Consumer Mobile" type="text" ng-pattern="patterns.mobilePattern" required />
										<datalist id="mobile-auto-complete">
											<option ng-repeat="consumer in consumerList" ng-if="consumer.active" ng-value="consumer.mobile">
										</datalist>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3">
							<div class="panel panel-default">
								<div class="panel-heading">Invoice Preferences</div>
								<div class="panel-body">
									<input type="checkbox" ng-change="calculateTotal()" ng-model="saveinvoice.addItems">&nbsp;<strong>Add Items</strong><br>
									<hr>
									<div ng-class="(createInvoiceForm.expiresIn.$valid)?'':'has-error'" class="form-group">
										<div class="col-md-12">
											<label class="control-label">Expires in (days):</label>
										</div>
										<div class="col-md-6">
											<input class="form-control" ng-model="saveinvoice.expiresIn" name="expiresIn" type="number" ng-pattern="patterns.numberPattern" required/>
										</div>
									</div>
									<div class="col-md-12">
										<hr>
										<div ng-class="(createInvoiceForm.invoiceDate.$valid)?'':'has-error'" class="form-group">
											<label class="control-label">Invoice Date:</label>
											<md-datepicker onkeydown="return false" ng-model="saveinvoice.invoiceDate" name="invoiceDate"></md-datepicker>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="panel panel-default">
								<div class="panel-heading">Custom Params</div>
								<div class="panel-body">
									<div ng-class="(createInvoiceForm.param{{$index}}.$valid || !param.include)?'':'has-error'" ng-repeat="param in saveinvoice.customParams" class="form-group">
										<label class="control-label"><input type="checkbox" ng-model="param.include"/> {{param.paramName}}:</label>
										<input ng-if="param.provider == 'MERCHANT'" ng-model="param.paramValue" name="param{{$index}}" class="form-control" placeholder="provider : {{param.provider}}" ng-pattern="patterns.namePattern" ng-required="param.include" />
										<input ng-if="param.provider != 'MERCHANT'" ng-model="param.paramValue" name="param{{$index}}" class="form-control" placeholder="provider : {{param.provider}}" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<h5 class="col-md-11">
											<strong>Order summary</strong>
										</h5>
										<div>
											<button ng-if="saveinvoice.addItems" ng-click="addItem()" type="button" class="btn btn-flat btn-success btn-sm">
												<i class="fa fa-plus"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="table-responsive">
										<table id="itemsTable" class="table table-bordered table-responsive">
											<thead>
												<tr>
													<th class="text-center"></th>
													<th class="text-center"><strong>Code</strong></th>
													<th class="text-center"><strong>Name</strong></th>
													<th class="text-center"><strong>Rate</strong></th>
													<th class="text-center"><strong>Qty</strong></th>
													<th class="text-center"><strong>Tax</strong></th>
													<th class="text-right"><strong>Total</strong></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-if="saveinvoice.addItems" ng-repeat="item in saveinvoice.items">
													<td>
														<div class="text-center">
															<button ng-click="deleteItem($index)" type="button" class="btn btn-flat btn-danger btn-sm">
																<i class="fa fa-times"></i>
															</button>
														</div>
													</td>
													<td>
														<div ng-class="(createInvoiceForm.itemCode{{$index}}.$valid)?'':'has-error'" class="form-group">
															<input class="form-control text-center" list="item-code-auto-complete" ng-change="setInventory(item,'CODE')" ng-model="item.inventory.code" name="itemCode{{$index}}" autocomplete="off" placeholder="Code" type="text" ng-pattern="patterns.paramNamePattern" required />
															<datalist id="item-code-auto-complete">
																<option ng-repeat="invnitem in inventoryList" ng-if="invnitem.active" ng-value="invnitem.code">
															</datalist>
														</div>
													</td>
													<td>
														<div ng-class="(createInvoiceForm.itemName{{$index}}.$valid)?'':'has-error'" class="form-group">
															<input class="form-control text-center" list="item-name-auto-complete" ng-change="setInventory(item,'NAME')" ng-model="item.inventory.name" name="itemName{{$index}}" autocomplete="off" placeholder="Name" type="text" ng-pattern="patterns.namePattern" required />
															<datalist id="item-name-auto-complete">
																<option ng-repeat="invnitem in inventoryList" ng-if="invnitem.active" ng-value="invnitem.name">
															</datalist>
														</div>
													</td>
													<td>
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-center" ng-change="calculateTotal()" ng-model="item.inventory.rate" placeholder="2000.00" type="number" step="0.01" required />
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<input class="form-control text-center" ng-change="calculateTotal()" ng-model="item.quantity" placeholder="2" type="number" required />
														</div>
													</td>
													<td>
														<div class="form-group">
															<select class="form-control" ng-model="item.tax" ng-change="calculateTotal()">
																<option ng-repeat="tax in taxList" ng-value="tax">{{tax.name}} {{tax.value}}%</option>
															</select>
														</div>
													</td>
													<td>
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="item.price" placeholder="4000.00" type="number" step="0.01" readonly />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-readonly="saveinvoice.addItems" ng-change="calculateTotal()" ng-model="saveinvoice.total" placeholder="1200.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
													<td class="emptyrow text-center"><strong>Total</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="saveinvoice.totalPrice" placeholder="1200.00" type="number" step="0.01" readonly/>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Shipping</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-change="calculateTotal()" ng-model="saveinvoice.shipping" placeholder="40.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Discount</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-change="calculateTotal()" ng-model="saveinvoice.discount" placeholder="40.00" type="number" step="0.01" />
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td class="highrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow"></td>
													<td class="emptyrow text-center"><strong>Pay Amount</strong></td>
													<td class="emptyrow">
														<div class="input-group">
															<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
															<div class="form-group">
																<input class="form-control text-right" ng-model="saveinvoice.payAmount" placeholder="4360.00" type="number" step="0.01" readonly required />
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createInvoice()">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>