<div ng-controller="InventoryController" id="createInventoryModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Add to Inventory</h5>
			</div>
			<div class="modal-body">
				<form name="addItemForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(addItemForm.code.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Code</label>
												<input name="code" class="form-control" placeholder="Code" ng-model="newinventory.code" ng-pattern="patterns.paramNamePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addItemForm.name.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Name</label>
												<input name="name" class="form-control" placeholder="Name" ng-model="newinventory.name" ng-pattern="patterns.namePattern" required />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">HSN/SAC</label>
												<input name="hscsac" class="form-control" placeholder="HSN/SAC" ng-model="newinventory.hsnsac" ng-pattern="patterns.paramNamePattern" />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label">Tax</label>
												<select class="form-control" ng-model="newinventory.tax">
													<option ng-repeat="tax in taxList" ng-value="tax">{{tax.name}} {{tax.value}}%</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addItemForm.desc.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Description</label>
												<input name="desc" class="form-control" placeholder="Description" ng-model="newinventory.description" ng-pattern="patterns.namePattern" />
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div ng-class="(addItemForm.type.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Item Type</label>
												<select ng-model="newinventory.type" class="form-control" name="type" required>
													<option value="GOODS">GOODS</option>
													<option value="SERVICE">SERVICE</option>
												</select>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label class="control-label">Rate</label>
											<div class="input-group">
												<div class="input-group-addon"><i class="fa fa-rupee"></i></div>
												<div ng-class="(addItemForm.rate.$valid)?'':'has-error'" class="form-group">
													<input class="form-control" name="rate" ng-model="newinventory.rate" placeholder="2000.00" type="number" step="0.01" required />
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="createInventory()">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>