<div ng-controller="InvoiceController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body col-md-3">
				<table class="box table table-striped table-bordered table-hover table-responsive">
					<tbody>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Created between</label>
									<md-datepicker onkeydown="return false" ng-model="searchInvoiceReq.createdFrom"></md-datepicker>
									<br><span>&nbsp;&nbsp;and</span><br>
									<md-datepicker onkeydown="return false" ng-model="searchInvoiceReq.createdTo"></md-datepicker>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Code</label>
									<input class="form-control" ng-model="searchInvoiceReq.invoiceCode" placeholder="invoiceCode" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Type</label>
									<select class="form-control" ng-model="searchInvoiceReq.invoiceType">
										<option value="SINGLE">SINGLE</option>
										<option value="BULK">BULK</option>
										<option value="RECURRING">RECURRING</option>
									</select>
								</div>
							</td>
						</tr>
						<tr ng-if="searchInvoiceReq.invoiceType != 'BULK'">
							<td>
								<div class="form-group">
									<label class="control-label">Parent Invoice Code</label>
									<input class="form-control" ng-model="searchInvoiceReq.parentInvoiceCode" placeholder="parent invoiceCode" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Invoice Status</label>
									<select class="form-control" ng-model="searchInvoiceReq.invoiceStatus">
										<option value="CREATED">CREATED</option>
										<option value="UNPAID">UNPAID</option>
										<option value="DECLINED">DECLINED</option>
										<option value="EXPIRED">EXPIRED</option>
										<option value="PAID">PAID</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Amount</label>
									<input class="form-control" ng-model="searchInvoiceReq.amount" placeholder="1000.00" step=".01" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Email</label>
									<input class="form-control" ng-model="searchInvoiceReq.email" placeholder="name@email.com" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Consumer Mobile</label>
									<input class="form-control" ng-model="searchInvoiceReq.mobile" type="text" placeholder="9999999999" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group">
									<label class="control-label">Item Code</label>
									<input class="form-control" ng-model="searchInvoiceReq.itemCode" type="text" placeholder="item code" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="searchInvoice()" type="button" class="btn btn-info">Search</button>
								<button ng-click="clearInvoiceSearch()" type="button" class="btn btn-basic">Clear</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-body col-md-9">
				<div ng-if="user.access.finance" class="row hidden-xs">
					<div class="col-md-2 col-md-offset-10">
						<button title="Create Invoice" class="btn btn-info btn-sm" ng-click="updateSaveInvoice(newinvoice)" data-toggle="modal" data-target="#createInvoiceModal">
							<i class="fa fa-plus"></i> Invoice
						</button>
					</div>
				</div>
				<div ng-if="user.access.finance" class="row visible-xs">
					<div class="col-md-2 col-md-offset-10">
						<button class="btn btn-info btn-sm" ng-click="updateSaveInvoice(newinvoice)" data-toggle="modal" data-target="#createInvoiceXsModal">
							<i class="fa fa-plus"></i> Invoice
						</button>
					</div>
				</div>
				<br>
				<table class="table table-striped table-bordered table-hover table-responsive">
					<thead>
						<tr>
							<th>Invoice Code</th>
							<th>Amount</th>
							<th>Type</th>
							<th class="hidden-xs">Invoice Date</th>
							<th class="hidden-xs">Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="invoice in invoiceResp.invoiceList">
						<tr
							ng-class="(invoice.status=='PAID')?'success':(invoice.status=='EXPIRED')?'basic':(invoice.status=='DECLINED')?'danger':(invoice.status=='UNPAID')?'warning':'default'"
							data-toggle="collapse"
							data-target="#invdetails-{{invoice.invoiceCode}}"
							class="accordion-toggle">
							<td>{{invoice.invoiceCode}}</td>
							<td><i class="fa fa-rupee"></i> {{invoice.payAmount}}</td>
							<td>{{invoice.invoiceType}}</td>
							<td class="hidden-xs">{{invoice.invoiceDate | date:'dd-MM-yyyy'}}</td>
							<td class="hidden-xs">{{invoice.status}}</td>
						</tr>
						<tr>
							<td colspan="12" style="padding: 0px; border: 0px;">
								<div style="padding:10px;" class="accordion-body collapse" id="invdetails-{{invoice.invoiceCode}}">
									<div class="row">
										<div class="col-md-12">
											<button ng-click="updateInvoiceInfo(invoice)" title="Info" class="btn btn-flat btn-info btn-md" data-toggle="modal" data-target="#invoiceInfoModal">
												<i class="fa fa-info"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'SINGLE' && invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance" title="Edit Invoice" class="btn btn-flat btn-warning btn-md hidden-xs" ng-click="updateSaveInvoice(invoice)" data-toggle="modal" data-target="#createInvoiceModal">
												<i class="fa fa-pencil"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'SINGLE' && invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance" title="Edit Invoice" class="btn btn-flat btn-warning btn-md visible-xs-inline" ng-click="updateSaveInvoice(invoice)" data-toggle="modal" data-target="#createInvoiceXsModal">
												<i class="fa fa-pencil"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'SINGLE'" ng-click="updateInvoicePayInfo(invoice)" title="Payments" class="btn btn-flat btn-success btn-md" data-toggle="modal" data-target="#invoicePaymentModal">
												<i class="fa fa-rupee"></i>
											</button>
											<button ng-if="invoice.note != null" ng-click="updateInvoiceInfo(invoice)" title="Note" class="btn btn-flat bg-red btn-md" data-toggle="modal" data-target="#noteModal">
												<i class="fa fa-undo"></i>
											</button>
											<a title="Download Pdf" class="btn btn-flat bg-navy btn-md" href="/invoice/receipt/{{invoice.invoiceCode}}" target="_blank">
												<i class="fa fa-file-pdf-o"></i>
											</a>
											<button ng-click="updateInvoiceInfo(invoice)" title="Attachments" class="btn btn-flat bg-maroon btn-md" data-toggle="modal" data-target="#invoiceAttachmentModal">
												<i class="fa fa-paperclip"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'BULK' && invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance" ng-click="updateBulkInvoiceInfo(invoice)" title="Add child invoice" class="btn btn-flat btn-success btn-md" data-toggle="modal" data-target="#childInvoiceModal">
												<i class="fa fa-plus"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'BULK' && invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance" ng-click="updateBulkInvoiceInfo(invoice)" title="Upload Consumers" class="btn btn-flat btn-basic btn-md" data-toggle="modal" data-target="#bulkInvoiceUploadModal">
												<i class="fa fa-upload"></i>
											</button>
											<button ng-if="invoice.invoiceType != 'SINGLE'" ng-click="searchChildInvoices(invoice.invoiceCode)" title="Search child invoices" class="btn btn-flat btn-warning btn-md">
												<i class="fa fa-search"></i>
											</button>
											<button ng-if="invoice.invoiceType == 'RECURRING'" ng-click="updateRecurrInvoiceInfo(invoice)" title="Schedule invoices" class="btn btn-flat btn-danger btn-md" data-toggle="modal" data-target="#recurrInvoiceModal">
												<i class="fa fa-clock-o"></i>
											</button>
											<span class="dropdown">
											    <button class="btn bg-purple btn-flat dropdown-toggle" type="button" data-toggle="dropdown">More <span class="caret"></span></button>
											    <ul class="dropdown-menu" style="margin:10px 0 0;">
											    	<li ng-if="invoice.invoiceType == 'SINGLE'"><a href="#" ng-click="updateMakeRecurringInvoice(invoice)" data-toggle="modal" data-target="#createInvoiceModal">Make Recurring</a></li>
													<li><a href="#" ng-click="updateCloneInvoice(invoice)" data-toggle="modal" data-target="#createInvoiceModal">Clone</a></li>
													<li class="divider"></li>
													<li ng-click="updateInvoiceInfo(invoice)" ng-if="invoice.invoiceType == 'SINGLE'"><a href="#" data-toggle="modal" data-target="#invoiceNoticeModal">Reminders</a></li>
													<li ng-click="fetchTimelines(invoice)"><a href="#" data-toggle="modal" data-target="#invoiceTimelineModal">Timeline</a></li>
											    </ul>
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h5>Amount Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Total</strong></td>
														<td><i class="fa fa-rupee"></i> {{invoice.total}}</td>
													</tr>
													<tr>
														<td><strong>Shipping</strong> : <i class="fa fa-rupee"></i> {{invoice.shipping}}</td>
														<td><strong>Discount</strong> : <i class="fa fa-rupee"></i> {{invoice.discount}}</td>
													</tr>
													<tr>
														<td><strong>Pay Amount</strong></td>
														<td><i class="fa fa-rupee"></i> {{invoice.payAmount}}</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="col-md-6">
											<h5>Payment Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<tbody>
													<tr>
														<td><strong>Payment Ref No</strong></td>
														<td>{{invoice.payment.paymentRefNo}}</td>
													</tr>
													<tr>
														<td><strong>Pay Mode</strong></td>
														<td>{{invoice.payment.method}}</td>
													</tr>
													<tr>
														<td><strong>Status</strong></td>
														<td>{{invoice.payment.status}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div ng-if="invoice.invoiceType != 'BULK'" class="row">
										<div class="col-md-12">
											<h5>Consumer Details</h5>
											<table class="table table-striped table-bordered table-responsive">
												<thead>
													<tr>
														<th>Name</th>
														<th class="hidden-xs">Email</th>
														<th>Mobile</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>{{invoice.consumer.name}}</td>
														<td class="hidden-xs">{{invoice.consumer.email}}</td>
														<td>{{invoice.consumer.mobile}}</td>
														<td>
															<button ng-click="searchConsumerInvoices(invoice.consumer)" title="Search consumer invoices" class="btn btn-flat btn-warning btn-xs">
																<i class="fa fa-search"></i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div style="padding: 10px;" class="row">
										<div class="col-md-offset-4">
											<div class="text-right">
												<button style="margin: 5px;"
													ng-if="invoice.invoiceType == 'SINGLE' && invoice.status != 'PAID' && user.access.finance"
													ng-click="updateInvoiceInfo(invoice)"
													data-toggle="modal" data-target="#markInvoicePaidModal"
													type="button" class="btn btn-success">Mark Paid</button>
												<button style="margin: 5px;"
													ng-if="invoice.invoiceType == 'SINGLE' && invoice.status != 'PAID'"
													ng-click="enquireInvoice(invoice.invoiceCode)"
													type="button" class="btn btn-info">Enquire</button>
												<button style="margin: 5px;"
													ng-if="invoice.invoiceType == 'SINGLE' && invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance"
													ng-click="updateInvoiceInfo(invoice)"
													data-toggle="modal" data-target="#invoiceNotifyModal"
													type="button" class="btn btn-warning">Notify</button>
												<button style="margin: 5px;"
													ng-if="invoice.status != 'PAID' && invoice.status != 'EXPIRED' && user.access.finance"
													ng-click="expireInvoice(invoice.invoiceCode)"
													type="button" class="btn btn-default">Expire</button>
												<button style="margin: 5px;"
													ng-if="invoice.invoiceType == 'SINGLE' && invoice.status == 'PAID' && user.access.finance"
													ng-click="updateInvoiceInfo(invoice)"
													data-toggle="modal" data-target="#invoiceRefundModal"
													type="button" class="btn btn-danger">Refund</button>
												<button style="margin: 5px;"
													ng-if="invoice.invoiceType == 'SINGLE' && invoice.status == 'PAID' && invoice.items != null && user.access.finance && invoice.note == null"
													ng-click="updateNote(invoice)"
													data-toggle="modal" data-target="#createNoteModal"
													type="button" class="btn bg-purple"><i class="fa fa-plus"></i> Note</button>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination" style="float:right;">
					<li ng-class="(invoiceResp.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(invoiceResp.page <= 1) || loadInvoicePage(invoiceResp.page-1)" href="#">Previous</a></li>
					<li ng-repeat="page in invoiceResp.allPages" ng-class="(page == invoiceResp.page)?'active':''"><a ng-click="loadInvoicePage(page)" href="#">{{page}}</a></li>
					<li ng-class="(invoiceResp.page >= invoiceResp.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(invoiceResp.page >= invoiceResp.allPages.length) || loadInvoicePage(invoiceResp.page+1)" href="#">Next</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>