<div ng-controller="InvoiceController" id="invoiceNotifyModal" class="modal fade" style="overflow-y:scroll;" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Notify Invoice : <strong>{{invoiceInfo.invoiceCode}}</strong></h5>
			</div>
			<div class="modal-body">
				<form name="invoiceNotifyForm">
					<div class="row">
						<div class="col-md-12">
							<input type="checkbox" ng-model="invoiceNotify.sendSms">&nbsp;<strong>Send Sms</strong><br>
							<fieldset class="panel panel-default" ng-disabled="!invoiceNotify.sendSms">
								<div class="panel-heading">
									<input class="form-control" ng-value="invoiceInfo.consumer.mobile" readonly>
								</div>
								<div class="panel-body">
									<div class="row">
									<textarea rows="3" style="width:100%;padding:5px;" readonly>Hi {{invoiceInfo.consumer.name}}, {{merchant.name}} has requested you to pay INR {{invoiceInfo.payAmount}} online. Click on http://www.paycr.in/{{invoiceInfo.invoiceCode}} to proceed.</textarea>
									</div>
								</div>
							</fieldset>
							<hr>
							<input type="checkbox" ng-model="invoiceNotify.emailPdf">&nbsp;<strong>Send PDF in mail</strong><br>
						</div>
						<div class="col-md-12">
							<input type="checkbox" ng-model="invoiceNotify.sendEmail">&nbsp;<strong>Send Email</strong><br>
							<fieldset class="panel panel-default" ng-disabled="!invoiceNotify.sendEmail">
								<div class="panel-heading">
									<table class="table table-striped table-bordered table-hover table-responsive">
										<tr>
											<td><strong>FROM :</strong></td>
											<td><input class="form-control" value="noreply@paycr.in" readonly></td>
										</tr>
										<tr>
											<td><strong>TO :</strong></td>
											<td><input class="form-control" ng-value="invoiceInfo.consumer.email" readonly></td>
										</tr>
										<tr class="form-group" ng-class="(invoiceNotifyForm.ccme.$valid)?'':'has-error'">
											<td><input type="checkbox" ng-model="invoiceNotify.ccMe">&nbsp;&nbsp;<strong>CC :</strong></td>
											<td><input class="form-control" name="ccme" ng-model="invoiceNotify.ccEmail" ng-init="invoiceNotify.ccEmail = user.email" ng-readonly="!invoiceNotify.ccMe" ng-pattern="patterns.emailPattern" required></td>
										</tr>
										<tr class="form-group" ng-class="(invoiceNotifyForm.subject.$valid)?'':'has-error'">
											<td><strong>Subject :</strong></td>
											<td><input name="subject" class="form-control" ng-model="invoiceNotify.emailSubject" ng-pattern="patterns.namePattern" required></td>
										</tr>
									</table>
								</div>
								<div class="panel-body">
									<div class="row text-center" style="background:#323341;">
										<div class="panel-body">
											<h3 style="color:white;">Invoice request from <strong>{{merchant.name}}</strong></h3>
											<div style="color:white;">Invoice Id : <strong>{{invoiceInfo.invoiceCode}}</strong></div>
										</div>
									</div>
									<div class="row text-center">
										<div class="panel-body" style="background:#61626f;">
											<div class="form-group" ng-class="(invoiceNotifyForm.note.$valid)?'':'has-error'"><input class="form-control" name="note" ng-model="invoiceNotify.emailNote" ng-pattern="patterns.namePattern" required></div>
											<div style="color:white;">Proceed to pay <strong>INR {{invoiceInfo.payAmount}}</strong> for your order.</div><br>
											<div><a href="#" type="button" class="btn btn-warning">Proceed to Pay</a></div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="notifyInvoice(invoiceInfo.invoiceCode)">Notify</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>