<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayMe</title>
    <link rel="shortcut icon" href="/images/ico/favicon.png">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular/angular-route.js"></script>
    <script src="/vendor/angular/angular-cookies.js"></script>
    <script src="/vendor/angular/angular-environment.js"></script>
    <script src="/angular/access-ctrl.js"></script>
</head>
<body class="hold-transition login-page" ng-app="payCrApp" ng-controller="AccessController">
    <div class="container">
    	<div ng-if="isError" id="serverRespAlert" class="alert alert-danger alert-dismissible">
		    <div class="text-center">
		    	<strong id="serverRespStatus">{{message}}</strong>
		    </div>
		</div>
        <div class="login-box">
			<div class="login-logo">
				<a href="/"><b>PAY</b>CR</a>
			</div>
			<div class="login-box-body">
				<p class="login-box-msg">Enter Email</p>
				<form>
                    <fieldset>
                        <div class="form-group has-feedback">
                            <input class="form-control" placeholder="E-mail" ng-model="forgotEmail.email" name="email" type="email" autofocus>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="col-md-4">
                        	<br>
                        	<a href="/login"><small>Login</small></a>
                        </div>
                        <div class="col-md-8">
                        	<button ng-click="sendResetPassword()" class="pull-right btn btn-lg btn-success btn-flat btn-clock">Send Reset Link</button>
                        </div>
                    </fieldset>
                </form>
			</div>
		</div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
