<div id="invoiceInfoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"> Invoice# <span><strong>{{invoiceInfo.invoiceCode}}</strong></span>&nbsp;&nbsp;<span>({{invoiceInfo.merchantPricing.pricing.name}})</span></h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="text-center">
						<p><strong>Created By</strong> - {{invoiceInfo.createdBy}}</p>
						<p ng-if="invoiceInfo.updatedBy != null"><Strong>Updated By</strong> - {{invoiceInfo.updatedBy}}</p>
					</div>
					<hr>
					<div class="col-lg-6">
						<h5 class="text-center">Invoice Setting</h5>
						<table class="table table-bordered table-responsive">
							<tbody>
								<tr>
									<td class="text-center"><p><strong>Add Items</strong></p></td>
									<td class="text-center"><p>{{invoiceInfo.addItems}}</p></td>
								</tr>
								<tr>
									<td class="text-center"><p><strong>Created</strong></p></td>
									<td class="text-center"><p>{{invoiceInfo.created | date:"dd-MM-yyyy HH:mm"}}</p></td>
								</tr>
								<tr>
									<td class="text-center"><p><strong>Expiry</strong></p></td>
									<td class="text-center"><p>{{invoiceInfo.expiry | date:'dd-MM-yyyy HH:mm'}}</p></td>
								</tr>
								<tr>
									<td class="text-center"><p><strong>Updated</strong></p></td>
									<td class="text-center"><p>{{invoiceInfo.updated | date:'dd-MM-yyyy HH:mm'}}</p></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-6">
						<h5 class="text-center">Params Details</h5>
						<table class="table table-striped table-bordered table-hover table-responsive">
							<tbody>
								<tr ng-repeat="param in invoiceInfo.customParams">
									<td class="text-center"><p><strong>{{param.paramName}}</strong></p></td>
									<td class="text-center"><p>{{param.paramValue}}</p></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<h5 class="text-center">Item Details</h5>
						<table class="table table-striped table-bordered table-hover table-responsive">
							<thead>
								<tr>
									<th>Code</th>
									<th>Name</th>
									<th class="hidden-xs">Rate</th>
									<th class="hidden-xs">Quantity</th>
									<th class="hidden-xs">Tax</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in invoiceInfo.items">
									<td>{{item.inventory.code}}</td>
									<td>{{item.inventory.name}}</td>
									<td class="hidden-xs"><i class="fa fa-rupee"></i> {{item.inventory.rate}}</td>
									<td class="hidden-xs">{{item.quantity}}</td>
									<td class="hidden-xs">{{item.tax.name}} {{item.tax.value}}%</td>
									<td><i class="fa fa-rupee"></i> {{item.price}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>