<div ng-controller="AccountController">
	<div class="panel-body">
		<div class="col-md-4">
			<div class="box box-warning">
				<div class="box-header with-border">
					<div class="form-group">
						<div class="image-upload">
							<div class="col-xs-3">
							    <label for="file-input" title="Upload new Banner">
							        <img src="/banner/merchant/{{merchant.banner}}" style="max-height:50px;max-width:50px;" alt="Banner (80x80)"/>
							    </label>
							    <input id="file-input" style="display:none;"type="file" onchange="angular.element(this).scope().uploadBanner(this.files)" accept=".png,.jpg"/>
						    </div>
						    <div class="col-xs-9">
						    	<small>(Banner will appear on your payment checkout screens)</small>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Account</h5>
					<div class="box-tools pull-right">
						<button class="btn btn-flat btn-xs btn-warning" ng-click="$parent.editAccSets = !$parent.editAccSets" title="Edit Settings">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<fieldset ng-disabled="!editAccSets">
						<div class="form-group">
							<label class="control-label">Name</label>
							<input class="form-control" ng-model="merchant.name" type="text" ng-pattern="patterns.namePattern" required />
						</div>
						<div class="form-group">
							<label class="control-label">GSTIN</label>
							<input class="form-control" ng-model="merchant.gstin" type="text" ng-pattern="patterns.namePattern" required />
						</div>
					</fieldset>
					<fieldset disabled>
						<div class="form-group">
							<label class="control-label">Email</label>
							<input class="form-control" value="{{merchant.email}}" />
						</div>
						<div class="form-group">
							<label class="control-label">Mobile</label>
							<input class="form-control" value="{{merchant.mobile}}" />
						</div>
					</fieldset>
				</div>
				<div ng-if="editAccSets" class="box-footer">
	            	<div class="input-group">
	                	<span class="input-group-btn">
                        	<button ng-click="updateAccount()" class="btn btn-info">Save</button>
                    	</span>
	                </div>
	            </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Address</h5>
					<div class="box-tools pull-right">
						<button data-toggle="modal" data-target="#editAccAddressModal" class="btn btn-flat btn-xs btn-warning" title="Edit Address">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<p ng-if="merchant.address != null">
						{{merchant.address.addressLine1}},<br>
						{{merchant.address.addressLine2}},<br>
						{{merchant.address.city}},<br>
						{{merchant.address.state}} - {{merchant.address.pincode}},<br>
						{{merchant.address.country}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>