<div ng-controller="InvoiceSettingController" id="createParamModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Create New Custom Param</h5>
			</div>
			<div class="modal-body">
				<form name="addCustomParamForm">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-responsive">
								<tbody>
									<tr>
										<td>
											<div ng-class="(addCustomParamForm.addCustomParamName.$valid)?'':'has-error'" class="form-group">
												<label class="control-label">Param Name</label>
												<input name="addCustomParamName" class="form-control" placeholder="Param Name" ng-model="newparam.paramName" ng-pattern="patterns.paramNamePattern" required/>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-group">
												<label class="control-label" for="cus-provider">Provider</label>
												<select class="form-control" ng-model="newparam.provider">
													<option value="OPTIONAL">OPTIONAL</option>
													<option value="MERCHANT">MERCHANT</option>
													<option value="CONSUMER">CONSUMER</option>
												</select>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="addParam()">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>