<div ng-controller="TaxController">
	<div class="panel-body" style="font-size:12px;">
		<div class="row">
			<div ng-if="merchant.gstSetting.filingPeriod == 'MONTHLY'" class="col-xs-6 col-sm-3">
				<select class="form-control" ng-model="period">
					<option value="11-2017">November, 2017</option>
					<option value="12-2017">December, 2017</option>
					<option value="01-2018">January, 2018</option>
					<option value="02-2018">February, 2018</option>
					<option value="03-2018">March, 2018</option>
				</select>
			</div>
			<div ng-if="merchant.gstSetting.filingPeriod == 'QUARTERLY'" class="col-xs-6 col-sm-3">
				<select class="form-control" ng-model="period">
					<option value="10-12-2017">October - December, 2017</option>
					<option value="01-03-2018">January - March, 2018</option>
					<option value="04-06-2018">April - June, 2018</option>
				</select>
			</div>
			<div class="col-xs-2 col-sm-2">
				<button class="btn btn-primary btn-sm" ng-click="loadGstr1Report(period)">Load</button>
			</div>
			<div class="col-xs-4 col-sm-2 pull-right">
				<div class="pull-right">
					<button title="Download" class="btn btn-flat btn-success btn-sm" ng-click="downloadGstr1Report(period)"><i class="fa fa-download"></i></button>
					<button title="Mail" class="btn btn-flat btn-danger btn-sm" ng-click="mailGstr1Report(period)"><i class="fa fa-envelope"></i></button>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<div ng-if="gstr1ReportResp.b2cSmall != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">GSTR1 B2CSmall</h5>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">Supply Type</th>
									<th class="text-center">Gst Rate</th>
									<th class="text-center">Taxable Amount</th>
									<th class="text-center">CGST Amount</th>
									<th class="text-center">SGST Amount</th>
									<th class="text-center">IGST Amount</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr class="bg-olive" ng-repeat="b2cSmall in gstr1ReportResp.b2cSmall">
									<td>{{b2cSmall.supplyType}}</td>
									<td>{{b2cSmall.gstRate}}</td>
									<td>{{b2cSmall.taxableAmount}}</td>
									<td>{{b2cSmall.cgstAmount}}</td>
									<td>{{b2cSmall.sgstAmount}}</td>
									<td>{{b2cSmall.igstAmount}}</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(gstr1ReportResp.b2cSmall.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(gstr1ReportResp.b2cSmall.page <= 1) || loadB2CSmallPage(gstr1ReportResp.b2cSmall.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in gstr1ReportResp.b2cSmall.allPages" ng-class="(page == gstr1ReportResp.b2cSmall.page)?'active':''"><a ng-click="loadB2CSmallPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(gstr1ReportResp.b2cSmall.page >= gstr1ReportResp.b2cSmall.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(gstr1ReportResp.b2cSmall.page >= gstr1ReportResp.b2cSmall.allPages.length) || loadB2CSmallPage(gstr1ReportResp.b2cSmall.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="gstr1ReportResp.b2cLarge != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">GSTR1 B2CLarge</h5>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">Invoice No</th>
									<th class="text-center">Taxable Amount</th>
									<th class="text-center">Invoice Amount</th>
									<th class="text-center">Invoice Date</th>
									<th class="text-center">Place Of Supply</th>
									<th class="text-center hidden-xs">Supply Type</th>
									<th class="text-center hidden-xs">Tax</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr class="bg-olive" ng-repeat="b2cLarge in gstr1ReportResp.b2cLarge">
									<td>{{b2cLarge.invoiceNo}}</td>
									<td>{{b2cLarge.taxableAmount}}</td>
									<td>{{b2cLarge.invoiceAmount}}</td>
									<td>{{b2cLarge.invoiceDate | date:'dd-MM-yyyy'}}</td>
									<td>{{b2cLarge.placeOfSupply}}</td>
									<td class="hidden-xs">{{b2cLarge.supplyType}}</td>
									<td class="hidden-xs"><div ng-repeat="taxAmt in b2cLarge.taxAmount">{{taxAmt.tax.name}} {{taxAmt.tax.value}}% - {{taxAmt.amount}}</div></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(gstr1ReportResp.b2cLarge.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(gstr1ReportResp.b2cLarge.page <= 1) || loadB2CLargePage(gstr1ReportResp.b2cLarge.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in gstr1ReportResp.b2cLarge.allPages" ng-class="(page == gstr1ReportResp.b2cLarge.page)?'active':''"><a ng-click="loadB2CLargePage(page)" href="#">{{page}}</a></li>
							<li ng-class="(gstr1ReportResp.b2cLarge.page >= gstr1ReportResp.b2cLarge.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(gstr1ReportResp.b2cLarge.page >= gstr1ReportResp.b2cLarge.allPages.length) || loadB2CLargePage(gstr1ReportResp.b2cLarge.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="gstr1ReportResp.b2b != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">GSTR1 B2B</h5>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">GSTIN</th>
									<th class="text-center">Invoice No</th>
									<th class="text-center">Taxable Amount</th>
									<th class="text-center">Invoice Amount</th>
									<th class="text-center">Invoice Date</th>
									<th class="text-center hidden-xs">Place Of Supply</th>
									<th class="text-center hidden-xs">Supply Type</th>
									<th class="text-center hidden-xs">Tax</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr class="bg-olive" ng-repeat="b2b in gstr1ReportResp.b2b">
									<td>{{b2b.gstin}}</td>
									<td>{{b2b.invoiceNo}}</td>
									<td>{{b2b.taxableAmount}}</td>
									<td>{{b2b.invoiceAmount}}</td>
									<td>{{b2b.invoiceDate | date:'dd-MM-yyyy'}}</td>
									<td class="hidden-xs">{{b2b.placeOfSupply}}</td>
									<td class="hidden-xs">{{b2b.supplyType}}</td>
									<td class="hidden-xs"><div ng-repeat="taxAmt in b2b.taxAmount">{{taxAmt.tax.name}} {{taxAmt.tax.value}}% - {{taxAmt.amount}}</div></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(gstr1ReportResp.b2b.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(gstr1ReportResp.b2b.page <= 1) || loadB2BPage(gstr1ReportResp.b2b.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in gstr1ReportResp.b2b.allPages" ng-class="(page == gstr1ReportResp.b2b.page)?'active':''"><a ng-click="loadB2BPage(page)" href="#">{{page}}</a></li>
							<li ng-class="(gstr1ReportResp.b2b.page >= gstr1ReportResp.b2b.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(gstr1ReportResp.b2b.page >= gstr1ReportResp.b2b.allPages.length) || loadB2BPage(gstr1ReportResp.b2b.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="gstr1ReportResp.b2cNote != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">GSTR1 B2CNote</h5>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">GSTIN</th>
									<th class="text-center">Note No</th>
									<th class="text-center">Taxable Amount</th>
									<th class="text-center">Note Amount</th>
									<th class="text-center">Note Date</th>
									<th class="text-center">Note Type</th>
									<th class="text-center">Invoice No</th>
									<th class="text-center hidden-xs">Invoice Date</th>
									<th class="text-center hidden-xs">Supply Type</th>
									<th class="text-center hidden-xs">Note Reason</th>
									<th class="text-center hidden-xs">Tax</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr class="bg-olive" ng-repeat="b2cNote in gstr1ReportResp.b2cNote">
									<td>{{b2cNote.gstin}}</td>
									<td>{{b2cNote.noteNo}}</td>
									<td>{{b2cNote.taxableAmount}}</td>
									<td>{{b2cNote.noteAmount}}</td>
									<td>{{b2cNote.noteDate | date:'dd-MM-yyyy'}}</td>
									<td>{{b2cNote.noteType}}</td>
									<td>{{b2cNote.invoiceNo}}</td>
									<td class="hidden-xs">{{b2cNote.invoiceDate | date:'dd-MM-yyyy'}}</td>
									<td class="hidden-xs">{{b2cNote.supplyType}}</td>
									<td class="hidden-xs">{{b2cNote.noteReason}}</td>
									<td class="hidden-xs"><div ng-repeat="taxAmt in b2cNote.taxAmount">{{taxAmt.tax.name}} {{taxAmt.tax.value}}% - {{taxAmt.amount}}</div></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(gstr1ReportResp.b2cNote.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(gstr1ReportResp.b2cNote.page <= 1) || loadB2CNotePage(gstr1ReportResp.b2cNote.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in gstr1ReportResp.b2cNote.allPages" ng-class="(page == gstr1ReportResp.b2cNote.page)?'active':''"><a ng-click="loadB2CNotePage(page)" href="#">{{page}}</a></li>
							<li ng-class="(gstr1ReportResp.b2cNote.page >= gstr1ReportResp.b2cNote.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(gstr1ReportResp.b2cNote.page >= gstr1ReportResp.b2cNote.allPages.length) || loadB2CNotePage(gstr1ReportResp.b2cNote.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
				<div ng-if="gstr1ReportResp.b2bNote != null" class="box box-success text-center">
					<div class="box-header with-border">
						<h5 class="box-title">GSTR1 B2BNote</h5>
					</div>
					<div class="box-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">GSTIN</th>
									<th class="text-center">Note No</th>
									<th class="text-center">Taxable Amount</th>
									<th class="text-center">Note Amount</th>
									<th class="text-center">Note Date</th>
									<th class="text-center">Note Type</th>
									<th class="text-center">Invoice No</th>
									<th class="text-center hidden-xs">Invoice Date</th>
									<th class="text-center hidden-xs">Supply Type</th>
									<th class="text-center hidden-xs">Note Reason</th>
									<th class="text-center hidden-xs">Tax</th>
								</tr>
							</thead>
							<tbody id="itemBody">
								<tr class="bg-olive" ng-repeat="b2bNote in gstr1ReportResp.b2bNote">
									<td>{{b2bNote.gstin}}</td>
									<td>{{b2bNote.noteNo}}</td>
									<td>{{b2bNote.taxableAmount}}</td>
									<td>{{b2bNote.noteAmount}}</td>
									<td>{{b2bNote.noteDate | date:'dd-MM-yyyy'}}</td>
									<td>{{b2bNote.noteType}}</td>
									<td>{{b2bNote.invoiceNo}}</td>
									<td class="hidden-xs">{{b2bNote.invoiceDate | date:'dd-MM-yyyy'}}</td>
									<td class="hidden-xs">{{b2bNote.supplyType}}</td>
									<td class="hidden-xs">{{b2bNote.noteReason}}</td>
									<td class="hidden-xs"><div ng-repeat="taxAmt in b2bNote.taxAmount">{{taxAmt.tax.name}} {{taxAmt.tax.value}}% - {{taxAmt.amount}}</div></td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" style="float:right;">
							<li ng-class="(gstr1ReportResp.b2bNote.page <= 1)?'disabled':''" class="paginate_button previous"><a ng-click="(gstr1ReportResp.b2bNote.page <= 1) || loadB2BNotePage(gstr1ReportResp.b2bNote.page-1)" href="#">Previous</a></li>
							<li ng-repeat="page in gstr1ReportResp.b2bNote.allPages" ng-class="(page == gstr1ReportResp.b2bNote.page)?'active':''"><a ng-click="loadB2BNotePage(page)" href="#">{{page}}</a></li>
							<li ng-class="(gstr1ReportResp.b2bNote.page >= gstr1ReportResp.b2bNote.allPages.length)?'disabled':''" class="paginate_button next"><a ng-click="(gstr1ReportResp.b2bNote.page >= gstr1ReportResp.b2bNote.allPages.length) || loadB2BNotePage(gstr1ReportResp.b2bNote.page+1)" href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>