<div ng-controller="InvoiceSettingController">
	<div class="panel-body">
		<div class="col-lg-4">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Payment Setting</h5>
					<div class="box-tools pull-right">
						<a href="https://razorpay.com/" target="_blank" class="btn btn-flat btn-xs btn-info" title="What is Razorpay?">
							<i class="fa fa-question"></i>
						</a>
						<button class="btn btn-flat btn-xs btn-warning" ng-click="$parent.editPaySets = !$parent.editPaySets" title="Edit Settings">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<fieldset ng-disabled="!editPaySets">
						<div class="form-group">
							<label class="control-label">RazorPay Merchant Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpMerchantId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Key Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpKeyId" />
						</div>
						<div class="form-group">
							<label class="control-label">RazorPay Secret Id</label>
							<input class="form-control" ng-model="merchant.paymentSetting.rzpSecretId" />
						</div>
					</fieldset>
				</div>
				<div ng-if="editPaySets" class="box-footer">
		           	<div class="input-group">
		               	<span class="input-group-btn">
	                      	<button ng-click="savePaymentSetting(merchant.paymentSetting)" class="btn btn-info">Save</button>
	                  	</span>
	               </div>
	           </div>
			</div>
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Custom Params</h5>
					<div class="box-tools pull-right">
						<button class="btn btn-flat btn-info btn-xs" data-toggle="modal" data-target="#createParamModal" title="Add Param">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<table class="table table-striped table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th>Param Name</th>
								<th>Provider</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="param in merchant.invoiceSetting.customParams">
								<td>{{param.paramName}}</td>
								<td>{{param.provider}}</td>
								<td>
									<button ng-click="deleteParam(param.id, param.paramName)" class="btn btn-flat btn-danger btn-xs">
										<i class="fa fa-times"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="box box-warning">
				<div class="box-header with-border">
					<h5 class="box-title">Invoice Preference</h5>
					<div class="box-tools pull-right">
						<button class="btn btn-flat btn-warning btn-xs"  ng-click="$parent.editPayPrefs = !$parent.editPayPrefs" title="Edit Settings">
							<i class="fa fa-pencil"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<fieldset ng-disabled="!editPayPrefs">
						<table class="table table-striped table-bordered table-hover table-responsive">
							<tr>
								<td>Send Email</td>
								<td><input type="checkbox" ng-model="merchant.invoiceSetting.sendEmail"></td>
							</tr>
							<tr>
								<td>Send Sms</td>
								<td><input type="checkbox" ng-model="merchant.invoiceSetting.sendSms"></td>
							</tr>
							<tr>
								<td>Add Items</td>
								<td><input type="checkbox" ng-model="merchant.invoiceSetting.addItems"></td>
							</tr>
							<tr>
								<td>CC Me</td>
								<td><input type="checkbox" ng-model="merchant.invoiceSetting.ccMe"></td>
							</tr>
							<tr>
								<td>Refund on Credit Note</td>
								<td><input type="checkbox" ng-model="merchant.invoiceSetting.refundCreditNote"></td>
							</tr>
							<tr>
								<td>Expiry Days</td>
								<td><input class="form-control" ng-model="merchant.invoiceSetting.expiryDays" type="number" required /></td>
							</tr>
							<tr>
								<td>Email Subject</td>
								<td><input class="form-control" ng-model="merchant.invoiceSetting.emailSubject" required /></td>
							</tr>
							<tr>
								<td>Email Note</td>
								<td><input class="form-control" ng-model="merchant.invoiceSetting.emailNote" required /></td>
							</tr>
						</table>
					</fieldset>
				</div>
				<div ng-if="editPayPrefs" class="box-footer">
		           	<div class="input-group">
		               	<span class="input-group-btn">
	                      	<button ng-click="saveInvoiceSetting(merchant.invoiceSetting)" class="btn btn-info">Save</button>
	                  	</span>
	               </div>
	           </div>
			</div>
		</div>
		<br>
	</div>
</div>