<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PayCr</title>
    <link rel="shortcut icon" href="/images/ico/favicon.png">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  	<link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
    <link href="/vendor/angular/angular-material.min.css" rel="stylesheet">
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular/angular-route.js"></script>
	<script src="/vendor/angular/angular-cookies.js"></script>
	<script src="/vendor/angular/angular-animate.min.js"></script>
  	<script src="/vendor/angular/angular-aria.min.js"></script>
  	<script src="/vendor/angular/angular-messages.min.js"></script>
  	<script src="/vendor/angular/angular-material.min.js"></script>
	<script src="/vendor/angular/angular-environment.js"></script>
	<script src="/angular/merchant/merchant-ctrl.js"></script>
	<script src="/angular/merchant/dashboard-ctrl.js"></script>
	<script src="/angular/merchant/invoice-ctrl.js"></script>
	<script src="/angular/common/invoice-payment-ctrl.js"></script>
	<script src="/angular/merchant/consumer-ctrl.js"></script>
	<script src="/angular/merchant/inventory-ctrl.js"></script>
	<script src="/angular/merchant/expense-ctrl.js"></script>
	<script src="/angular/merchant/expense-payment-ctrl.js"></script>
	<script src="/angular/merchant/supplier-ctrl.js"></script>
	<script src="/angular/merchant/asset-ctrl.js"></script>
	<script src="/angular/merchant/invoice-setting-ctrl.js"></script>
	<script src="/angular/merchant/gst-setting-ctrl.js"></script>
	<script src="/angular/merchant/account-ctrl.js"></script>
	<script src="/angular/common/reports-ctrl.js"></script>
	<script src="/angular/merchant/pricing-ctrl.js"></script>
	<script src="/angular/merchant/tax-ctrl.js"></script>
	<script src="/angular/common/users-ctrl.js"></script>
	<script src="/angular/common/profile-ctrl.js"></script>
	<style> 
	.md-datepicker-calendar-pane{
		z-index: 1200
	}
	</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="payCrMerchantApp" ng-controller="MerchantController" ng-cloak>
    <div ng-init="prepare()" class="wrapper">
        <div ng-include="templateUrl('merchant','nav')"></div>
        <div class="tab-content content-wrapper" id="content-wrapper">
        	<div ng-include="templateUrl('common','alert')"></div>
        	<div ng-if="user.access.admin" id="dashboardTab" class="tab-pane active" ng-include="templateUrl('merchant','dashboardTab')"></div>
        	<div ng-class="(user.access.admin)?'':'active'" id="salesTab" class="tab-pane" ng-include="templateUrl('merchant','salesTab')"></div>
        	<div id="purchasesTab" class="tab-pane" ng-include="templateUrl('merchant','purchasesTab')"></div>
	        <div ng-if="user.access.finance" id="subscriptionTab" class="tab-pane fade" ng-include="templateUrl('merchant','subscriptionTab')"></div>
	        <div ng-if="user.access.ops" id="reportsTab" class="tab-pane fade" ng-include="templateUrl('common','reportsTab')"></div>
	        <div ng-if="user.access.admin" id="usersTab" class="tab-pane fade" ng-include="templateUrl('common','usersTab')"></div>
	        <div ng-if="user.access.finance" id="taxTab" class="tab-pane fade" ng-include="templateUrl('merchant','taxTab')"></div>
	        <div ng-if="user.access.finance" id="settingsTab" class="tab-pane fade" ng-include="templateUrl('merchant','settingsTab')"></div>
	        <div id="profileTab" class="tab-pane fade" ng-include="templateUrl('common','profileTab')"></div>
		</div>
		<div ng-include="templateUrl('common','footer')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','createInvoiceModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','createConsumerModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','createInventoryModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/purchases','createExpenseModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/purchases','createSupplierModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/purchases','createAssetModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant','createParamModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','createReportModal')"></div>
		<div ng-if="user.access.ops" ng-include="templateUrl('common','recurrReportModal')"></div>
		<div ng-if="user.access.admin" ng-include="templateUrl('common','createUserModal')"></div>
		<div ng-if="user.access.admin" ng-include="templateUrl('merchant','keyModal')"></div>
		<div ng-if="user.access.admin" ng-include="templateUrl('merchant','editAccAddressModal')"></div>
		<div ng-include="templateUrl('common','changePasswordModal')"></div>
		<div ng-include="templateUrl('common','editProfileAddressModal')"></div>
		<div ng-include="templateUrl('merchant','merchantControl')"></div>
		<div ng-include="templateUrl('common','registerIssueModal')"></div>
    </div>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/moment.js"></script>
	<script src="/vendor/raphael/raphael.min.js"></script>
	<script src="/vendor/morrisjs/morris.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#content-wrapper").css("min-height", "600px");
		});
	</script>
</body>
</html>
