<header class="main-header">
	<a href="#" class="logo">
		<span class="logo-mini"><i class="fa fa-institution"></i></span>
		<span class="logo-lg"><b>{{merchant.name}}</b></span>
	</a>
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li ng-if="user.access.finance"><a href="#" ng-click="updateSaveInvoice(newinvoice)" data-toggle="modal" data-target="#createInvoiceModal"><i class="fa fa-plus"></i> Invoice</a></li>
						<li ng-if="user.access.finance"><a href="#" data-toggle="modal" data-target="#createConsumerModal"><i class="fa fa-plus"></i> Consumer</a></li>
						<li ng-if="user.access.finance"><a href="#" data-toggle="modal" data-target="#createInventoryModal"><i class="fa fa-plus"></i> Item</a></li>
						<li ng-if="user.access.finance" class="divider"></li>
						<li ng-if="user.access.finance"><a href="#" ng-click="updateSaveExpense(newexpense)" data-toggle="modal" data-target="#createExpenseModal"><i class="fa fa-plus"></i> Expense</a></li>
						<li ng-if="user.access.finance"><a href="#" data-toggle="modal" data-target="#createSupplierModal"><i class="fa fa-plus"></i> Supplier</a></li>
						<li ng-if="user.access.finance"><a href="#" data-toggle="modal" data-target="#createAssetModal"><i class="fa fa-plus"></i> Asset</a></li>
						<li ng-if="user.access.finance" class="divider"></li>
						<li><a href="#" ng-click="updateUserIssue()" data-toggle="modal" data-target="#registerIssueModal">Report an issue</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown notifications-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-bell-o"></i>
					<span class="label label-warning">new</span>
				</a>
				<ul class="dropdown-menu">
					<li class="header">You have new notifications</li>
					<li>
						<ul class="menu">
							<li ng-repeat="notice in notices" class="panel">
								<a href="#">
									<div>
										<i class="fa fa-comment fa-fw"></i> {{notice.subject}} <span
											class="pull-right text-muted small">{{notice.created | date:'dd-MM-yyyy HH:mm'}}</span>
									</div>
									<hr style="margin: 0px;">
									<div>
										<p>{{notice.message}}</p>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="footer"><a href="#">View all</a></li>
				</ul>
				</li>
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i>
						<span class="hidden-xs">{{user.name}}</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<i class="fa fa-user fa-5x"></i>
							<p>{{user.userType}} <small>Member since {{user.created | date:'dd, MMM yyyy HH:mm'}}</small></p>
						</li>
						<li class="user-footer">
							<div class="pull-left" id="profileTabId" class="active">
								<a href="#" ng-click="loadProfileTab()" data-target="#profileTab" data-toggle="tab" class="btn btn-info btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<a ng-click="logout()" class="btn btn-danger btn-flat">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
				<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
			</ul>
		</div>
	</nav>
</header>
<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MAIN NAVIGATION</li>
			<li ng-if="user.access.admin" class="active" ng-click="loadDashboard()"><a href="#" data-target="#dashboardTab" data-toggle="tab"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
			<li ng-class="(user.access.admin)?'':'active'" ng-click="searchInvoice()"><a href="#" data-target="#salesTab" data-toggle="tab"><i class="fa fa-shopping-bag"></i><span>Sales</span></a></li>
			<li ng-click="searchExpense()"><a href="#" data-target="#purchasesTab" data-toggle="tab"><i class="fa fa-shopping-cart"></i><span>Purchases</span></a></li>
			<li ng-if="user.access.ops" ng-click="fetchReports()"><a href="#" data-target="#reportsTab" data-toggle="tab"><i class="fa fa-print"></i><span>Reports</span></a></li>
            <li ng-click="updateFilingPeriod()"><a href="#" data-target="#taxTab" data-toggle="tab"><i class="fa fa-money"></i><span>Tax</span></a></li>
			<li class="header"></li>
			<li ng-if="user.access.finance" ng-click="fetchPricings()"><a href="#" data-target="#subscriptionTab" data-toggle="tab"><i class="fa fa-recycle"></i><span>Subscriptions</span></a></li>
			<li ng-if="user.access.admin" ng-click="fetchMyUsers()"><a href="#" data-target="#usersTab" data-toggle="tab"><i class="fa fa-users"></i><span>Users</span></a></li>
			<li ng-if="user.access.finance"><a href="#" data-target="#settingsTab" data-toggle="tab"><i class="fa fa-gear"></i><span>Settings</span></a></li>
		</ul>
	</section>
</aside>