<div>
	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom tab-danger">
				<ul class="nav nav-tabs">
					<li class="active" ng-click="searchInvoice()"><a href="#invoiceTab" data-toggle="tab">Invoices</a></li>
					<li ng-click="searchInvoicePayment()"><a href="#invoicePaymentTab" data-toggle="tab">Payments</a></li>
					<li ng-click="searchConsumer()"><a href="#consumerTab" data-toggle="tab">Consumers</a></li>
					<li ng-click="searchInventory()"><a href="#inventoryTab" data-toggle="tab">Inventory</a></li>
				</ul>
				<div class="tab-content">
					<div id="invoiceTab" class="active tab-pane" ng-include="templateUrl('merchant/sales','invoiceTab')"></div>
			        <div id="invoicePaymentTab" class="tab-pane" ng-include="templateUrl('common/sales','invoicePaymentTab')"></div>
			        <div id="consumerTab" class="tab-pane fade" ng-include="templateUrl('merchant/sales','consumerTab')"></div>
			        <div id="inventoryTab" class="tab-pane fade" ng-include="templateUrl('merchant/sales','inventoryTab')"></div>
				</div>
			</div>
		</div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','createInvoiceXsModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','addInvoiceItemXsModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','invoiceNotifyModal')"></div>
	    <div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','markInvoicePaidModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','childInvoiceModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','categoryConsumerModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','bulkInvoiceUploadModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','recurrInvoiceModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','invoiceRefundModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','createNoteModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','bulkConsumerUploadModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','updateConsumerBulkModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','editConAddressModal')"></div>
		<div ng-if="user.access.finance" ng-include="templateUrl('merchant/sales','bulkInventoryUploadModal')"></div>
		<div ng-include="templateUrl('common/sales','invoiceInfoModal')"></div>
		<div ng-include="templateUrl('common/sales','noteModal')"></div>
		<div ng-include="templateUrl('common/sales','invoicePaymentModal')"></div>
		<div ng-include="templateUrl('merchant/sales','invoiceNoticeModal')"></div>
		<div ng-include="templateUrl('merchant/sales','invoiceAttachmentModal')"></div>
		<div ng-include="templateUrl('common/sales','invoiceTimelineModal')"></div>
	</div>
</div>