<div ng-controller="PricingController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body text-center">
				<div class="col-md-10 col-md-offset-1">
					<h4>Subscriptions</h4>
					<table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<td class="text-center"><strong>Name</strong></td>
								<td class="text-center hidden-xs"><strong>Start Date</strong></td>
								<td class="text-center"><strong>End Date</strong></td>
								<td class="text-center"><strong>Used</strong></td>
								<td class="text-center"><strong>Limit</strong></td>
								<td class="text-center"><strong>Receipt</strong></td>
							</tr>
						</thead>
						<tbody id="itemBody">
							<tr ng-class="(merpricing.status=='ACTIVE')?'success':'danger'" ng-repeat="merpricing in merchant.pricings" title="{{merpricing.status}}">
								<td class="text-center">{{merpricing.pricing.name}}</td>
								<td class="text-center hidden-xs">{{merpricing.startDate | date:'dd-MM-yyyy HH:mm'}}</td>
								<td class="text-center">{{merpricing.endDate | date:'dd-MM-yyyy HH:mm'}}</td>
								<td class="text-center">{{merpricing.useCount}}</td>
								<td class="text-center">{{merpricing.pricing.limit * merpricing.quantity}}</td>
								<td>
									<a class="btn btn-default btn-flat btn-sm" href="/subscription/receipt/pricing/{{merpricing.id}}" target="_blank">
										<i class="fa fa-file-pdf-o"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<hr>
			<div class="panel-body text-center">
				<div class="col-md-10 col-md-offset-1">
					<h4>Buy new Subscription</h4>
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-center"><strong>Name</strong></td>
								<td class="text-center hidden-xs"><strong>Duration</strong></td>
								<td class="text-center hidden-xs"><strong>Limit</strong></td>
								<td class="text-center"><strong>Rate</strong></td>
								<td class="text-center"><strong>Quantity</strong></td>
								<td class="text-center"><strong>Action</strong></td>
							</tr>
						</thead>
						<tbody id="itemBody">
							<tr ng-repeat="pricing in pricings" ng-if="pricing.active && pricing.rate > 0">
								<td class="text-center">{{pricing.name}}</td>
								<td class="text-center hidden-xs">{{pricing.duration}}</td>
								<td class="text-center hidden-xs">{{pricing.limit}}</td>
								<td class="text-center">{{pricing.rate}}</td>
								<td class="text-center col-sm-1 col-xs-2"><input class="form-control" ng-model="priceQuant[$index]" ng-init="priceQuant[$index] = 1" type="number" placeholder="Quantity" step="1" required></td>
								<td class="text-center">
									<a ng-if="merchant.address == null" disabled title="Make sure your address is saved" class="btn btn-xs btn-success">BUY</a>
									<a ng-if="merchant.address != null" href="/subscription/new/online?pricing_id={{pricing.id}}&quantity={{priceQuant[$index]}}&access_token={{access_token}}" class="btn btn-xs btn-success" title="Buy Subscription" target="_blank">BUY</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>